<div id="colorpicker-<%= picker %>" style="width: 291px; height: 25px;">
	<table style="border: none;">
		<tr>
			<td onClick="setColor('<%= picker -%>', '800000');" style="width: 20px; height: 20px; background: #800000;"></td>
			<td onClick="setColor('<%= picker -%>', 'FF0000');" style="width: 20px; height: 20px; background: #FF0000;"></td>
			<td onClick="setColor('<%= picker -%>', '808000');" style="width: 20px; height: 20px; background: #808000;"></td>
			<td onClick="setColor('<%= picker -%>', 'FFFF00');" style="width: 20px; height: 20px; background: #FFFF00;"></td>
			<td onClick="setColor('<%= picker -%>', '008000');" style="width: 20px; height: 20px; background: #008000;"></td>
			<td onClick="setColor('<%= picker -%>', '00FF00');" style="width: 20px; height: 20px; background: #00FF00;"></td>
			<td onClick="setColor('<%= picker -%>', '008080');" style="width: 20px; height: 20px; background: #008080;"></td>
			<td onClick="setColor('<%= picker -%>', '00FFFF');" style="width: 20px; height: 20px; background: #00FFFF;"></td>
			<td onClick="setColor('<%= picker -%>', '000080');" style="width: 20px; height: 20px; background: #000080;"></td>
			<td onClick="setColor('<%= picker -%>', '0000FF');" style="width: 20px; height: 20px; background: #0000FF;"></td>
			<td onClick="setColor('<%= picker -%>', '800080');" style="width: 20px; height: 20px; background: #800080;"></td>
			<td onClick="setColor('<%= picker -%>', 'FF00FF');" style="width: 20px; height: 20px; background: #FF00FF;"></td>
		</tr>
	</table>
</div>
