<% 
element_class = element.class.to_s.downcase
parent_class = parent.class.to_s.downcase
%>

<div id='<%= parent_class -%>-<%= parent.id -%>-<%= element_class -%>-<%= element.id -%>' class='admin-div-element'>
<%
# Write the name of the element
%>
	<div id="name-<%= parent_class%>-<%= parent.id %>-<%= element_class -%>-<%= element.id -%>-container">
		<p id="name-<%= parent_class%>-<%= parent.id %>-<%= element_class -%>-<%= element.id -%>" title="<%= element.name -%>">
			<%= element.name -%>
		</p>
	</div>
	<script>
		resizeFontSizeToFit($('name-<%= parent_class%>-<%= parent.id %>-<%= element_class -%>-<%= element.id -%>'),$('name-<%= parent_class%>-<%= parent.id %>-<%= element_class -%>-<%= element.id -%>-container'));
		$('name-<%= parent_class%>-<%= parent.id %>-<%= element_class -%>-<%= element.id -%>').setStyle({ width: '100%' });
	</script>
