<% if !defined?(no_refresh) -%>
<script>
	Effect.Appear($('dialog-background-fade'), { duration: 0.2, to: 0.9 });
</script>
<% end -%>
<div id="form-add-member" class="admin-new" style="display: none;">
	<%= image_tag "admin/admin-logo-members.png", :alt => "Member", :style => "position:absolute; top: -64px; left: -54px; z-index: 101" -%>
	<div style="clear: both"></div>
	<%= admin_open_div 765 -%>
	<div class="admin-div-organization-top">
		<% 
		if edit 
			action = :update
		else
			action = :create
		end
		-%>
		<% form_for @member, :url => { :controller => 'admin/members', :action => action, :id => @member }, :html => { :multipart => true } do |f| %>
			<div id="information"></div>
			<iframe id="upload_frame" name="upload_frame" style="display: none;"></iframe>
			<% 
			if (edit || defined? no_refresh) 
				name = @member.name
			else
				name =  "Click To Edit Member Name" 
			end 
			%>
			
			<%= f.text_field :name, 
				:value => name, 
				:class => "form-name", 
				:onClick => "if(this.value == 'Click To Edit Member Name' ) this.clear();" %>

			<% if !edit %>
			<% if @organization %>
			  <%= hidden_field_tag "organization", @organization.id -%>
			<% else %>
		          <div class="admin-div-section" style="margin-bottom: 10px;">
		          <%= image_tag 'admin/admin-div-actions-organizations.png', :alt => 'Organization', :style => 'position: relative; top: 10px; margin-left: 10px;' -%>
		          <h2 style="position: relative; top: 10; margin-left: 10px;">Organization:</h2>
		          <%= select_tag "organization", options_from_collection_for_select(current_member.organizations_administered, 'id', 'name'), :style => 'position: relative; top: 10px; margin-left: 10px; width: 500px;' -%>
		          </div>
			<% end %>
			<% end %>
			
			<div class="admin-div-section" style="margin-bottom: 10px;">
				<%= image_tag "admin/admin-div-actions-color.png", :alt => "Color", :style => "position: relative; left: 10px; top: 2px;" -%>
				<h2 style="position: relative; top: 0px; margin-left: 20px;"><%= f.label :color %></h2>
				<p style="color: #04a; font-size: 10px; margin: 0; position:relative; top: -18px; left: 70px;">(This color will be used to identify the user in the taskboard)</p>
				<%= f.text_field :color, :style => "float: right; position: relative; top: -55px; border: none; right: 10px; width: 150px; height: 20px;", :readonly => 'readonly', :onclick => "toggle_color_picker();" %>
				<p id="admin-member-color-choose" style="color: #04a; font-size: 12px; float:right; margin: 0; position:relative; left: 140px; top: -35px; cursor: pointer;" onclick="toggle_color_picker();">choose</p>
			</div>
			
			<div class="admin-div-section" style="margin-bottom: 10px; height: 80px;">
				<%= image_tag "admin/admin-div-actions-login.png", :alt => "Login", :style => "position: relative; left: 10px; top: -2px;" -%>
				<h2 style="position: relative; top: 0px; margin-left: 10px;">Login information</h2>
			    <div style="float:right; position: relative; top: -50px;">
				 	<span style="color: #162d50;">username</span> <%= f.text_field :username, :style => "position: relative; right: 2px; background: url('/images/admin/admin-div-field.png') no-repeat top left; border: none; width: 168px; height: 26px; padding: 5px;" %><br />
					<span style="color: #162d50;">password</span> <%= f.password_field :password, :style => "background: url('/images/admin/admin-div-field.png') no-repeat top left; border: none; width: 168px; height: 26px; padding: 5px;", :size => "10" %>
				</div>
			</div>
			
			<div class="admin-div-section" style="margin-bottom: 10px; height: 60px; ">
				<%= image_tag "admin/admin-div-actions-picture.png", :alt => "Picture", :style => "position: relative; left: 0px; top: -5px;" -%>
				<h2 style="position: relative; top: 0px; margin-left: -5px; top: -10px;">Picture</h2>
				<p style="color: #04a; font-size: 10px; margin: 0; position:relative; top: -38px; left: 70px;">The picture should be a .jpg, .png, or .gif and will be scaled to 88x88 pixels</p>
				<%= file_field_tag :picture_file, :style => "float: right; position: relative; right: 5px; top: -75px; background: url('/images/admin/admin-div-field.png') no-repeat top left; border: none; padding: 5px;" %>
			</div>
			
			<div class="admin-div-section" style="">
				<%= image_tag "admin/admin-div-actions-security.png", :alt => "Security", :style => "position: relative; left: 0px; top: 3px;" -%>
				<h2 style="position: relative; top: 0px; margin-left: -5px; top: 5px;">Security</h2>
				<div style="float: right; position: relative; top: -30px; right: 10px;">
          <% if @member.admin? %>
					<%= check_box_tag "member[admin]", true, :checked => 'checked' -%>
          <% else %>
					<%= check_box_tag "member[admin]", true -%>
          <% end %>
          <span style="position: relative; top: -2px; font-size: 16px; ">User is a System Administrator</span>
				</div>
			</div>
			
			<div style="clear:both; margin: 0; padding: 0;"></div>
			<%= image_submit_tag "admin/admin-form-submit.png", :alt => "Submit", :style => "position:absolute; top: -30px; right: 119px;"-%>
			<%= image_tag "admin/admin-form-cancel.png", 
				:alt => "Cancel", 
				:style => "position:absolute; top: -30px; right: 30px; cursor: pointer;", 
				:onClick => "cancelForm('form-add-member');" -%>
		<% end %>
	</div>
	<%= admin_close_div 765 -%>

<% if !@members_not_in_organization.nil? && !@members_not_in_organization.empty? -%>
        <% if @organization %>
          <%= admin_open_div 765 -%>
            <% form_remote_tag :url => { :controller => 'admin/organizations', :action => 'add_member', :id => @organization.id }, :method => :put, :update => 'dummy-for-actions' do |f| %>
				<span class="form-name" style="font-size: 16px;">Or choose an existing one: <%= select_tag 'member', options_from_collection_for_select(@members_not_in_organization, 'id', 'name'), :style => "width: 250px;" -%></span>
              <%= image_submit_tag "admin/admin-form-submit.png", :alt => "Submit", :style => "position:absolute; top: 250px; right: 119px;"-%>
              <%= image_tag "admin/admin-form-cancel.png", 
                  :alt => "Cancel", 
                  :style => "position:absolute; top: 250px; right: 30px; cursor: pointer;", 
                  :onClick => "cancelForm('form-add-member');" -%>
            <% end %>
          <%= admin_close_div 765 -%>
        <% end %>
<% end -%>
	<div id="admin-div-color-picker" style="display: none; position: absolute; top: 119px; right: 3px;">
	<%= admin_open_div 208 -%>
  <div id="admin-div-color-picker-content"></div>
	<%= admin_close_div 208 -%>
	</div>
</div>
<script>
  $('admin-div-color-picker-content').innerHTML = generate_color_table();
  if($('member_color').value != '')
    $('member_color').style.backgroundColor = $('member_color').style.color = '#' + $('member_color').value;
	centerTo($('form-add-member'),$('dialog-background-fade'));
	Effect.Appear($('form-add-member'));
</script>
<% # render :partial => 'color_picker' -%>
</div>
