<div id="<%= id_text -%>-<%= member.id -%>" class="<%= class_text %>" style="float: left; <%= "border: 4px solid #a02c2c; top: -4px;" if( defined?(highlight_loged_member) && highlight_loged_member  && session[:member] == member.id ) -%> ">
	<%= image_tag member.show_picture, :style => "position:absolute; top: 0px; left: 0px;", :title => member.name%>
	<% if edit -%>
		<%= link_to_remote image_tag('member_edit.png', :class => "member-edit"),
			:url => {:controller => 'members', :action => 'show_form', :member => member, :project => project },
			:hover => 'member_edit_hover.png', :class => 'member-edit' -%>
	<% end -%><br />
	<% 
	if defined?(team) 
		team_id = team.id
	else
		team_id = nil
	end 
	-%>
	<div class="<%= member_name_class -%> .slide_item" style="<%= style if(defined?(style)) -%>" title="<%= member.name -%>"><%= member.formatted_nametag(team_id) %></div>
	</div>

