<% for member in @members %>
<div id="member-<%= member.id %>" class="member">
	<%= image_tag member.show_picture, :style => "float: right;" %>
	<h1><%=h member.name %> <% if member.admin? %>(Admin)<% end %></h1>

	<p>Organizations: </p>
	<ul>
		<% for organization in member.organizations %>
		<li><%= organization.name %></li>
		<% end %>
	</ul>

	<p>Teams: </p>
	<ul>
		<% for team in member.teams %>
		<li><%= team.name %> (<%= team.projects.first.name unless !team.projects.first  %>)</li>
		<% end %>
	</ul>
	<p>Roles: </p>
	<ul>
		<% for role in member.roles %>
		<li><%= role.name %></li>
		<% end %>
	</ul>

    	[
		<% if member.admin? %>
			<%= link_to_remote 'Remove System Admin', :url => {:action => :remove_sysadmin, :id => member.id }%> |
		<% else %>
			<%= link_to_remote 'Make System Admin', :url => {:action => :make_sysadmin, :id => member.id }%> | 
		<% end %>
		<%= link_to 'Show', :object => member %> | 
		<%= link_to 'Edit', edit_admin_member_path(member) %> |
		<%= link_to 'Destroy', :object => member, :confirm => 'Are you sure?', :method => :delete %>
		]
</div>
<% end %>
<tr id="table_footer">
  <td colspan=4>
    <%= link_to 'New member', new_admin_member_path %> | 
    <%= link_to 'Manage Teams', admin_teams_path %> |
    <%= link_to 'Manage Projects', admin_projects_path %>
  </td>
<div id="dummy-for-actions"></div>

