!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      Agilar Taskboard - Login
    = stylesheet_link_tag 'login'
  %body
    #container
      #about-left
        = image_tag 'login/login_logo.png', :alt => "Agilar Taskboard Beta"
        %ul
          %li
            %p
              %span.title Inspired on real taskboards
              %br 
              The Agilar Taskboard improves your distributed team's ability to follow best practices in visual management. 
              %br
              == Don't miss Xavier Quesada Allue's #{link_to "Visual Management Blog", 'http://www.xqa.com.ar/visualmanagement'}!
          %li
            %p
              %span.title Multiple Project Support
              %br
              Do you run multiple projects in your organization? Want a single tool to keep track of them all? 
              %br
              The Agilar Taskboard is prepared to handle multiple projects per organization.
          %li
            %p
              %span.title Team Taskboard View
              %br
              Does your team works on multiple projects at the same time?
              %br
              Check out our exclusive team taskboard and backlog view.
          %li
            %p
              %span.title Multiple Teams in Organization
              %br
              Working for an organization with lots of teams? Want to assign teams to specific projects? The Agilar Taskboard can do that too!
          %li.new
            %p
              %span.title Guest Members
              %br
              Do you work with a Product Owner who is not in your organization? Working with consultants? Take a look at the Guest Member feature.
            
      #about-right
        #login
          - form_tag '/login' do
            %label{ :for => 'member[username]'} username
            = text_field_tag 'member[username]'
            %label{ :for => 'member[password]'} password
            = password_field_tag 'member[password]'
            = submit_tag '', :id => 'submit'
          - if flash[:notice]
            #flash
              = flash[:notice]
          #revision= FULL_VERSION
        /= image_tag'login/request-membership.png', :alt => 'Request Membership', :style => "cursor: pointer; position: relative; top: 10px;", :onClick => "alert('Beta Memberships are not available right now... keep in touch (oleee)');"
        = image_tag 'login/screenshot-0.png', :alt => 'Taskboard Screenshot', :style => 'margin: 10px 0; border: 3px solid #162d50;'
        = image_tag 'login/screenshot-1.png', :alt => 'Backlog Screenshot', :style => 'margin: 10px 0px; border: 3px solid #162d50;'                      
        = image_tag 'login/screenshot-2.png', :alt => 'Admin Screenshot', :style => 'margin: 10px 0px; border: 3px solid #162d50;'