!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      Agilar Taskboard - Login
    = stylesheet_link_tag 'login'
  %body
    #container
      #about-left
        = image_tag 'login/login_logo.png', :alt => "Agilar Taskboard Beta"
        %ul
          %li
            %p
              %span.title Working with Distributed Teams? 
              %br 
              Agilar Dev Team uses the taskboard daily and is spread across continents.
              Distributed enough for you? ;)
          %li
            %p
              %span.title Prioritized Backlog
              %br
              Working with SCRUM implies using prioritized backlogs.
              The Agilar Taskboard has its own built-in Product Backlog manager.
          %li
            %p
              %span.title Team-oriented views
              %br
              A team with multiple projects? A project management nightmare? Immerse yourself in the inter-project prioritization with the Team View.
          %li
            %p
              %span.title Multiple Projects
              %br
              Do you run multiple projects in your organization? Want a single tool to keep track of them all? The Agilar Taskboard is prepared to handle multiple projects per organization.
          %li
            %p
              %span.title Multiple Teams in Organization
              %br
              Working for an organization with lots of teams? Want to assign teams to specific projects? The Agilar Taskboard can do that!
          %li.new
            %p
              %span.title Guest Members
              %br
              Do you work with a Product Owner who is not in your organization? Working with consultants? Take a look at the Guest Member feature.
            
  #about-right
    #login
      - form_tag '/login' do
        %label{ :for => 'member[username]'} username
        = text_field_tag 'member[username]'
        %label{ :for => 'member[password]'} password
        = password_field_tag 'member[password]'
        = submit_tag '', :id => 'submit'
      #revision= FULL_VERSION
    = image_tag'login/request-membership.png', :alt => 'Request Membership', :style => "cursor: pointer; position: relative; top: 10px;", :onClick => "alert('Beta Memberships are not available right now... keep in touch (oleee)');"
    = image_tag 'login/screenshot-0.png', :alt => 'Request Membership', :style => 'margin-top: 30px; border: 3px solid #162d50;'
    = image_tag 'login/screenshot-1.png', :alt => 'Request Membership', :style => 'margin: 20px 0px; border: 3px solid #162d50;'