	<td class="task-list-item" id="td-task-<%= task.id -%>">
		<div class="task" id="task-<%= task.id -%>">
			<div class="task-name-container" id="task-<%= task.id -%>-name-container">
				<div class="task-container-table">	
					<div class="task-container-cell">
						<p class="task-name" id="task-<%= task.id -%>-name" onDblClick="<%= remote_function(:url => { :controller => :tasks, :action => :show_edit_task_name_form, :id => task.id, :story => task.story.id}) %>;") ><%=h task.name -%></p>
					</div>
				</div>
			</div>
			<a id="task-<%= task.id -%>-flip" href="javascript:flip('task-<%= task.id -%>','back')">
			<%= image_tag 'task_flip.png', :alt => 'Flip', :class => 'flip-task-image' -%>
			</a>
		</div>
		<script>
		resizeFontSizeToFit($('task-<%= task.id -%>-name'), $('task-<%= task.id -%>-name-container'));
		</script>

		<div class="task task-back" id="task-<%= task.id -%>-back" style="display: none;">
			<div class="task-description"><%=h task.description -%></div>
			<a id="image-link-back" href="javascript:flip('task-<%= task.id -%>','front')" >
			<%= image_tag 'task_flip.png', :alt => 'Flip', :class => 'flip-task-image-back' -%>
			</a>
		</div>
	</td>
	<%= draggable_element "task-#{task.id}", :revert => '"failure"'%>
