- if defined? new_task 
  %script cancel($('form-add-task'));

- if status == 'finished' 
  %table
    %tr
      %td.finished_tasks
        - tasks.each_with_index do |task, index|
          %li.task{:id => "task-#{task.id}-project-#{task.story.project.id}-li", 'data-task-id' => task.id, 'data-story-id' => task.story.id, :style => ("display: none" if index > 2) }
            = render :partial => "tasks/finished_task", :locals => { :task => task }
          %script= "new YAHOO.example.DDList('task-#{task.id}-project-#{task.story.project.id}-li')"
      %td{:style => "vertical-align: top;"}
        = image_tag "expand.png",  :id => "finished_#{story.id}_slider_next", :alt => "Show More", :title => "Show All", :class => "expand", :style => "border: none; display: none;", :onClick => "javascript:finished_#{story.id}_slider.expand();", :style => "cursor: pointer; display: none;"
        = image_tag "collapse.png", :id => "finished_#{story.id}_slider_prev", :alt => "Show Less",:title => "Show First 3", :class => "collapse", :style => "border: none; display: none;", :onClick => "javascript:finished_#{story.id}_slider.collapse();", :style => "cursor: pointer; display: none;"
- else
  - tasks.each do |task|
    %li.task{:id => "task-#{task.id}-project-#{task.story.project.id}-li", 'data-task-id' => task.id, 'data-story-id' => task.story.id}
      = render :partial => "tasks/task", :locals => { :task => task }
    - if current_user
      %script= "new YAHOO.example.DDList('task-#{task.id}-project-#{task.story.project.id}-li')"
      / = drop_receiving_element("task-#{task.id}-project-#{task.story.project.id}-li", :accept => "add_nametag", :with => "nametag[user_id]=' + (element.id.split('-').last())+ '&nametag[task_id]=#{task.id}&nametag[relative_position_x]='+ positionCreateX($(element),$('task-#{task.id}-project-#{task.story.project.id}-li')) + '&nametag[relative_position_y]=' + positionCreateY($(element),$('task-#{task.id}-project-#{task.story.project.id}-li'),true)", :url => { :controller => :nametags, :project_id => task.story.project.to_param, :story_id => task.story.to_param, :task_id => task.to_param, :action => :create})
      = drop_receiving_element("task-#{task.id}-project-#{task.story.project.id}-li", :accept => "add_nametag", :with => "", :onDrop => "function(draggable_element, droppable_element, event) { new Ajax.Request('/projects/#{task.story.project.id}/stories/#{task.story.id}/tasks/#{task.id}/nametags/', { method:'post', parameters: 'nametag[user_id]=' + (draggable_element.id.split('-').last()) + '&nametag[relative_position_x]='+ positionCreateX($(draggable_element),$('task-#{task.id}-project-#{task.story.project.id}-li')) + '&nametag[relative_position_y]=' + positionCreateY($(draggable_element),$('task-#{task.id}-project-#{task.story.project.id}-li'),true) +'&authenticity_token=' + getAuthKey(), onSuccess: function(transport) { var tmp = new Element('div').update(transport.responseText); droppable_element.down('.task_front').appendChild(tmp); tmp.pulsate({pulses: 2, duration : 0.8}); } });}")
      %script= "new YAHOO.util.DDTarget('task-#{task.id}-project-#{task.story.project.id}-li');"