	<td class="task-list-item">
		<div class="task" id="task-<%= task.id -%>">
			<div class="task-container-table">	
			<div class="task-container-cell">	
				<p class="task-name"><%=h task.name -%></p>

				<% for nametag in task.nametags %>
					<%= render :partial => "nametags/show", :locals => { :nametag => nametag } %> 
				<% end %>
				<% for statustag in task.statustags %>
					<%= render :partial => "statustags/show", :locals => { :statustag => statustag } %> 
				<% end %>
			</div>
			</div>
			<a href="#" onClick="flip('task-<%= task.id -%>','back')">
				<%= image_tag 'task_flip.png', :alt => 'Flip', :class => 'flip-task-image' -%>
			</a>
		</div>

		<div class="task task-back" id="task-<%= task.id -%>-back" style="display: none">
			<div class="task-description"><%=h task.description -%></div>
			<a id="image-link-back" href="#" onClick="flip('task-<%= task.id -%>','front')">
				<%= image_tag 'task_flip.png', :alt => 'Flip', :class => 'flip-task-image-back' -%>
			</a>
		</div>

<% if task.status != 'finished' %>
	<%= drop_receiving_element("task-#{task.id}", 
		:accept => "create_nametag", 
		:with   => "'id=' + (element.id.split('-').last())+ '&task=#{task.id}&x='+ ($(element).cumulativeOffset().left - $('task-#{task.id}').cumulativeOffset().left)+ '&y='+ ($(element).cumulativeOffset().top - $('task-#{task.id}').cumulativeOffset().top)", 
		:url => { :controller => :nametags, :action=>:update_nametag }
		) 
	%>
	<%= drop_receiving_element("task-#{task.id}", 
		:accept => "add_status", 
		:with   => "'status=' + (element.id.split('-').last())+ '&task=#{task.id}&x='+ (x($(element)) - x($('task-#{task.id}'))) + '&y='+ (y($(element))-y($('task-#{task.id}')))", 
		:url => { :controller => :statustags, :action=>:add_statustag }) 
	%>
	<%= drop_receiving_element("task-#{task.id}", 
		:accept => "statustag", 
		:with   => "'id=' + (element.id.split('-').last())+ '&task=#{task.id}&x='+ (x($(element)) - x($('task-#{task.id}'))) + '&y='+ (y($(element))-y($('task-#{task.id}')))", 
		:url => { :controller => :statustags, :action=>:update_statustag }) 
	%>


	<%= drop_receiving_element("task-#{task.id}", 
		:accept => "add_nametag", 
		:with   => "'member=' + (element.id.split('-').last())+ '&task=#{task.id}&x='+ (x($(element)) - x($('task-#{task.id}'))) + '&y=' + (y($(element))-y($('task-#{task.id}'))+88)", 
		:url => { :controller => :nametags, :action=>:add_nametag }) 
	%>
	<%= drop_receiving_element("task-#{task.id}", 
		:accept => "nametag", 
		:with   => "'id=' + (element.id.split('-').last())+ '&task=#{task.id}&x='+ (x($(element)) - x($('task-#{task.id}'))) + '&y='+ (y($(element))-y($('task-#{task.id}')))", 
		:url => { :controller => :nametags, :action=>:update_nametag }) 
	%>
<% end %>
<%= draggable_element "task-#{task.id}", :revert => '"failure"'%>
<%=
if column < 2
	"</td>"
else
	"	</td>
	<tr>"
end %>
