.delete{ :onClick => "Tasks.removeTask(#{task.story.project.id},#{task.story.id},#{task.id})", :title => "Delete Task"}
.task_front{ :id => "task-#{task.id}-front"}
  .task-name-container{ :id => "task-#{task.id}-name-container"}
    .task-container-table
      .task-container-cell
        %p.task-name.in_place_edit{ :id => "edit_name_#{task.id}" }= h task.name
    :javascript
      new Ajax.InPlaceEditor('edit_name_#{task.id}', '/projects/#{task.story.project.to_param}/stories/#{task.story.to_param}/tasks/#{task.to_param}/update_name', 
        { 
          cancelControl: 'button',
          highlightColor: 'transparent',
          cols : 18, 
          onComplete: function(){
            $('edit_name_#{task.id}').setStyle({fontSize: '12px'});
            $('edit_name_#{task.id}').setStyle({lineHeight: '17px'});
            resizeFontSizeToFit($('edit_name_#{task.id}'), $('task-#{task.id}-name-container'));} 
          });
      $('edit_name_#{task.id}').style.opacity = 0; 
      resizeFontSizeToFit($('edit_name_#{task.id}'), $('task-#{task.id}-name-container'));
      $('edit_name_#{task.id}').style.opacity = 1;

  - unless task.status == 'finished'
    - task.nametags.each do |nametag|
      = render nametag
    - task.statustags.each do |statustag|
      = render statustag

.task_back{ :id => "task-#{task.id}-back", :style => "display: none" }
  %textarea.task-description.in_place_edit{ :id => "edit_description_#{task.id}" }= h task.description
  :javascript
    new Ajax.InPlaceEditor('edit_description_#{task.id}', '/projects/#{task.story.project.to_param}/stories/#{task.story.to_param}/tasks/#{task.to_param}/update_description', { cancelControl: 'button', highlightColor: 'transparent', rows: 6, cols : 12, onComplete: null});
  .change_task_color{ :title => "Change Task Color"}
    .task_color.orange{ 'data-color' => 'orange' }
    .task_color.violet{ 'data-color' => 'violet' }
    .task_color.green{ 'data-color' => 'green' }
    .task_color.blue{ 'data-color' => 'blue' }
    .task_color.red{ 'data-color' => 'red' }
    
.flip{ :onClick => "Tasks.flip(#{task.id})", :title => "Task Description"}