	<td class="task-list-item">
		<div class="task" id="task-<%= task.id -%>">
			<div class="task-container-table">	
				<%= link_to_remote image_tag("task_delete.png", :alt => "Delete Task", :title => "Delete Task", :style => "position: absolute; top: 5px; right: 5px; border: 0; cursor: pointer;"), :url => { :controller => :tasks, :action=>:destroy, :id => task.id}, :method => :delete, :update => "dummy-for-actions", :style => "border: 2px solid red; " -%>
			<div class="task-container-cell">
				<p class="task-name" id="task-<%= task.id -%>-name" onDblClick="<%= remote_function(:url => { :controller => :tasks, :action => :show_edit_task_name_form, :id => task.id, :story => task.story.id}) %>;")><%=h task.name -%></p>

				<% for nametag in task.nametags %>
					<%= render :partial => nametag -%>
				<% end %>

				<% for statustag in task.statustags %>
					<%= render :partial => statustag %> 
				<% end %>

			</div>
			</div>
			<a href="javascript:flip('task-<%= task.id -%>','back')">
				<%= image_tag 'task_flip.png', :alt => 'Flip', :class => 'flip-task-image' -%>
			</a>
		</div>
		<script>
		 resizeFontSizeToFit($('task-<%= task.id -%>-name'), $('task-<%= task.id -%>'));
		</script>
		<div class="task task-back" id="task-<%= task.id -%>-back" style="display: none">
			<div class="task-description" id="task-<%= task.id -%>-description" onDblClick="<%= remote_function(:url => { :controller => :tasks, :action => :show_edit_task_description_form, :id => task.id, :story => task.story.id}) %>;"><%=h task.description -%></div>
			<a id="image-link-back" href="javascript:flip('task-<%= task.id -%>','front')" >
				<%= image_tag 'task_flip.png', :alt => 'Flip', :class => 'flip-task-image-back' -%>
			</a>
		</div>

<% if task.status != 'finished' %>
	<%= drop_receiving_element("task-#{task.id}", 
		:accept => "add_status", 
		:with   => "'status=' + (element.id.split('-').last())+ '&task=#{task.id}&x='+ positionCreateX($(element),$('task-#{task.id}')) + '&y='+ positionCreateY($(element),$('task-#{task.id}'),false)", 
		:url => { :controller => :statustags }) 
	%>
	<%= drop_receiving_element("task-#{task.id}", 
		:accept => "statustag", 
		:with   => "'tag_id=' + (element.id.split('-').last())+ '&task=#{task.id}&x='+ positionUpdateX($(element),$('task-#{task.id}')) + '&y='+ positionUpdateY($(element),$('task-#{task.id}'),false)", 
		:url => { :controller => :statustags, :action=>:update },
		:method => :put ) 
	%>


	<%= drop_receiving_element("task-#{task.id}", 
		:accept => "add_nametag", 
		:with   => "'member=' + (element.id.split('-').last())+ '&task=#{task.id}&x='+ positionCreateX($(element),$('task-#{task.id}')) + '&y=' + positionCreateY($(element),$('task-#{task.id}'),true)", 
		:url => { :controller => :nametags }) 
	%>
	<%= drop_receiving_element("task-#{task.id}", 
		:accept => "nametag", 
		:with   => "'tagid=' + (element.id.split('-').last())+ '&task=#{task.id}&x='+ positionUpdateX($(element),$('task-#{task.id}')) + '&y='+ positionUpdateY($(element),$('task-#{task.id}'),true)", 
		:url => { :controller => :nametags, :action => :update },
		:method => :put)
	%>
<% end %>
<%= draggable_element "task-#{task.id}", :revert => '"failure"' -%>
<%=
if column < 2
	"</td>"
else
	"	</td>
	<tr>"
end %>
