.task-front{:id => "task-#{task.id}", :style => "width: 126px; height: 126px;"}
  = link_to_remote image_tag("task_delete.png", :alt => "Delete Task", :title => "Delete Task", :style => "float:right; position: relative; width: 19px; top: 5px; right: 5px; border: 0; cursor: pointer; z-index: 2;"), :url => { :controller => :tasks, :action=>:destroy, :id => task.id}, :method => :delete, :update => "dummy-for-actions", :style => "border: 2px solid red; "
  .task-name-container{ :id => "task-#{task.id}-name-container" }
    .task-container-table
      .task-container-cell
        %p.task-name{:id => "task-#{task.id}-name", :onDblClick => remote_function(:url => { :controller => :tasks, :action => :show_edit_task_name_form, :id => task.id, :story => task.story.id})}=h task.name

  - task.nametags.each do |nametag|
    = render :partial => nametag
  - task.statustags.each do |statustag|
    = render :partial => statustag
  
  = image_tag 'task_flip.png', :alt => 'Flip', :class => 'flip-task-image', :onClick => "javascript:flip('task-#{task.id}','back')", :id => "task-#{task.id}-flip", :style => "cursor: pointer;"

  %script= "$('task-#{task.id}-name').style.opacity = 0; resizeFontSizeToFit($('task-#{task.id}-name'), $('task-#{task.id}-name-container')); $('task-#{task.id}-name').style.opacity = 1; "
  %script
    - task.nametags.each do |nametag|
      == $('nametag-project-#{task.story.project.id}-#{nametag.id}').show();
    - task.statustags.each do |statustag|
      == $('statustag-project-#{task.story.project.id}-#{statustag.id}').show();
    
.task-back{ :id => "task-#{task.id}-back", :style => "display: none;" }
  .task-description{ :id => "task-#{task.id}-description", :onDblClick => remote_function(:url => { :controller => :tasks, :action => :show_edit_task_description_form, :id => task.id, :story => task.story.id})}=h task.description
  = image_tag 'task_flip.png', :alt => 'Flip', :class => 'flip-task-image-back image-link-back', :onClick => "javascript:flip('task-#{task.id}','front')", :style => "cursor: pointer;"
  
  / %a#image-link-back{ :href => "javascript:flip('task-#{task.id}','front')" }
  /   = image_tag 'task_flip.png', :alt => 'Flip', :class => 'flip-task-image-back'
