#form
  %h1 Create Task
  - remote_form_for @task, :url => project_story_tasks_path(@project, @story, :format => :json), :before => "$('task_submit').disabled='disabled'", :after => "$('form').remove();", :success => 'Tasks.afterCreate(request.responseText);', :failure => "ModalDialog.displayFormErrors(request.responseJSON); $('task_submit').disabled=''" do |form|
    = form.error_messages 
    .field
      = form.label :name
      = form.text_field :name

    .field
      = form.label :description
      = form.text_area :description
    = form.submit "Create"
    :javascript
      $('task_name').focus();