#form-add-task
  - remote_form_for @task, :url => project_story_tasks_path(@project, @story, :format => :json), :success => 'Tasks.afterCreate(request.responseText);', :failure => 'ModalDialog.displayFormErrors(request.responseJSON);' do |f|
    = button_to_function "Cancel", "cancel($('form-add-task'));", :id => "form-add-task-cancel"
    = submit_tag "Save", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :onClick => "this.value = 'Saving...'; $('blocker').show()"
    #form-add-task-fields{ :style => "margin: 0px;" }
      %a{ :href => "#", :onclick => "flip('form-add-task-fields','back');" }
        = image_tag 'task_flip-new.png',  :alt => 'Flip',  :id => 'form-add-task-fields-flip', :class => 'flip-task-image',  :style => "position: absolute; top: 152px; left: 152px;"
      .task-container-table-new
        .task-container-cell-new
          = f.text_field :name,  :value => "Enter Task Here",  :id => "form-add-task-task_name", :onClick => "this.clear();"
    #form-add-task-fields-back{ :style => "display:none; position: relative; top: -22px; left: 0;  margin: 0px;" }
      %a{ :href => "#", :onclick => "flip('form-add-task-fields','front');" }
        = image_tag 'task_flip-new.png',  :alt => 'Flip', :class => 'flip-task-image',  :style => "position: absolute; top: 149px; left: 152px;"
      = f.text_area :description,  :value => "Description",  :id => "form-add-task-task_description",  :cols => "22", :rows => "8",  :onClick => "this.clear();"
    = hidden_field_tag(:story_id, "#{@story.id}")
    #blocker{ :style => "position:absolute; bottom: 0; left: 0px; background: transparent; width: 160px; height: 30px; z-index: 1000; display: none;" }