<div id="menu_space">
</div>

<div id="menu">

	<a href="#" onClick="collapseMenu('taskboard');"><%= image_tag 'menu_collapse.png', :border => 0, :style => "float:left;" -%></a>

	<%= link_to image_tag('menu_product_backlog.png', 
			:border => 0, 
			:id => "menu_product_backlog_image"), 
		:controller => "backlog", 
		:action => "show",
		:id => @project.id 
	-%>


	<%= image_tag 'menu_task_add.png' , 
		:border => 0 ,
		:id => 'taskboard_menu_task_add', 
		:class => "task-add" 
	-%>
	<%= draggable_element "taskboard_menu_task_add", :revert => 'true'%>
	
	<div style="float: left">
	<table id="menu_statustags" >
		<%= render :partial => "menu_statustags" %> 
	</table>
	</div>
	<div id="menu_nametags">
		<%= render :partial => "menu_nametags", :locals => { :members => members } %> 
	</div>

	<%= image_tag 'menu_trash.png' , :border => 0, :id => 'trash' -%>
	<%= drop_receiving_element("trash", 
		:accept => "task", 
		:with   => "'task=' + (element.id.split('-').last())", 
		:url => { :controller => :tasks, :action=>:destroy_task}) 
	%>
	<%= drop_receiving_element("trash", 
		:accept => "statustag", 
		:with   => "'statustag=' + (element.id.split('-').last())", 
		:url => { :controller => :statustags, :action=>:destroy_statustag}) 
	%>
	<%= drop_receiving_element("trash", 
		:accept => "nametag", 
		:with   => "'nametag=' + (element.id.split('-').last())", 
		:url => { :controller => :nametags, :action => :destroy_nametag }) 
	%>
	<%= drop_receiving_element("trash", 
		:accept => "form-add-task"
		) 
	%>

	<%= render :partial => "admin/members/member_info", :locals => { :member => @member } -%>

</div>

<div id="menu_expand">
	<a href="#" onClick="expandMenu('taskboard');"><%= image_tag('menu_expand.png', :border => 0, :style => "position: relative; top: 11px; left: 14px;")-%></a>
</div>
<script>
	expandMenu('taskboard');
</script>
