#menu_space
#menu
  %a{ :href => "#", :onClick => "collapseMenu('taskboard');" }
    = image_tag 'menu_collapse.png', :border => 0, :style => "float:left;"
  - action = (@view == :project) ? 'show' : 'team'
  - id = (@view == :project) ? @project.id : @team.id

  - link_to (@view == :project) ? project_backlog_index_path(:project_id => @project.to_param) :  team_taskboard_path(@team.to_param) do
    .item.backlog

  = image_tag 'menu_task_add.png' ,  :border => 0 , :id => 'taskboard_menu_task_add',  :class => "task-add"
  = draggable_element "taskboard_menu_task_add", :revert => 'true', :ghosting => 'true'

  %table#menu_statustags
    = render :partial => "menu_statustags"

  #menu_nametags
    = render :partial => "menu_nametags", :locals => { :team => team } if !team.nil?

  - link_to logout_path do
    .item.logout

  #menu_links
    = link_to image_tag('admin_section_small.png'), root_path, :title => "Admin Section"
    - if (@view == :project)
      = link_to image_tag('dashboard_small.png'), organization_project_url(:organization_id => @project.organization.to_param, :id => @project.to_param), :title => "Project Dashboard"

  - if (@view == :project && (@project.teams.first.projects.size > 1 && !@project.guest_members.include?(@current_member))) || @view == :team
    #menu_views
      - team_selected = (@view == :team)
      = link_to image_tag('logo-projects-small.png'), project_taskboard_index_path(:project_id => current_user.last_project || @team.projects.first), :class => !team_selected, :title => "Project View"
      = link_to image_tag('logo-teams-small.png'), team_taskboard_path(@team.to_param), :class => team_selected, :title => "Team View"

#menu_expand
  %a{ :href => "#", :onClick => "expandMenu('taskboard');", :style => "position: relative; top: 8px; left: 10px;" }
    = image_tag('menu_expand.png', :border => 0)
%script expandMenu('taskboard');
%script= "new YAHOO.util.DDTarget('menu');"


#menu_report_bug
  = link_to image_tag('reportbug/menu_reportbug.png', :alt => 'bug', :title => "Report Bug"), "http://github.com/agilar/taskboard/issues"
