%tr
  %td
    #add-statustag-please_analyze{:class => "statustag statustag-please_analyze add_status" }
  %td
    #add-statustag-please_test{ :class => "statustag statustag-please_test add_status" }
  %td
    #add-statustag-done{ :class => "statustag statustag-done add_status" }
  %td
    #add-statustag-blocked{ :class => "statustag statustag-blocked add_status" }
%tr
  %td
    #add-statustag-high_priority{ :class => "statustag statustag-high_priority add_status" }
  %td
    #add-statustag-waiting{ :class => "statustag statustag-waiting add_status" }
  %td
    #add-statustag-delegated{ :class => "statustag statustag-delegated add_status" }
  %td
    #add-statustag-bug{ :class => "statustag statustag-bug add_status" }

  %script= "new YAHOO.DDAddTags('add-statustag-please_analyze')"
  %script= "new YAHOO.DDAddTags('add-statustag-please_test')"
  %script= "new YAHOO.DDAddTags('add-statustag-done')"
  %script= "new YAHOO.DDAddTags('add-statustag-blocked')"
  %script= "new YAHOO.DDAddTags('add-statustag-high_priority')"
  %script= "new YAHOO.DDAddTags('add-statustag-waiting')"
  %script= "new YAHOO.DDAddTags('add-statustag-delegated')"
  %script= "new YAHOO.DDAddTags('add-statustag-bug')"

/ = draggable_element "add-status-please_analyze", :revert => '"failure"'
/ = draggable_element "add-status-please_test", :revert => '"failure"'
/ = draggable_element "add-status-done", :revert => '"failure"'
/ = draggable_element "add-status-blocked", :revert => '"failure"'
/ = draggable_element "add-status-high_priority", :revert => '"failure"'
/ = draggable_element "add-status-waiting", :revert => '"failure"'
/ = draggable_element "add-status-delegated", :revert => '"failure"'
/ = draggable_element "add-status-bug", :revert => '"failure"'