- if current_user
  = render :partial => "menu" , :locals => { :team => @member_team }
  = render :partial => "adder"
= render :partial => "taskboard_table", :locals => { :name => @project.name }

- if current_user
  %script= "new YAHOO.util.DDTarget('taskboard-first-row');"

  #dummy-for-actions

- content_for :helpers do
  = javascript_include_tag 'helpers/tasks.js', 'helpers/modal_dialog.js'
