- if @project.users.include?(current_user)
  = render :partial => "menu" , :locals => { :team => @team }
  = render :partial => "adder"
= render :partial => "taskboard_table", :locals => { :name => @project.name }

- if current_user
  %script= "new YAHOO.util.DDTarget('taskboard');"

  #dummy-for-actions

- if @project.public? && (!current_user || (!@project.users.include?(current_user) && !current_user.admins?(@project.organization)))
  .the_disabler

- content_for :helpers do
  = javascript_include_tag 'helpers/tasks.js', 'helpers/modal_dialog.js'

