<%= render :partial => "menu" , :locals => { :members => @members }-%> 
<%= render :partial => "adder" -%>
<div id="container">
<table>
<tr>
	<th style="width: 190px;"></th>
	<th style="width: 25%; <%= taskboard_border_style(@color, [ "left", "bottom"]) -%>"><%= image_tag "taskboard_not_started.png", :alt => "Not Started" -%></th>
	<th style="width: 50%; <%= taskboard_border_style(@color, [ "left", "bottom"]) -%>"><%= image_tag "taskboard_in_progress.png", :alt => "In Progress" -%></th>
	<th style="width: 25%; <%= taskboard_border_style(@color, [ "left", "right", "bottom"]) -%>"><%= image_tag "taskboard_finished.png", :alt => "Finished" -%></th>
</tr>
<% for story in @stories_by_priority %>
	<% if story.priority != -1 -%>
		<tr id="story-<%= story.id %>">
			<%= render :partial => "stories/show", :locals => { :story => story, :project => @project } %> 
		</tr>
	<% end -%>
<% end %>
</table>
</div>
<div id="dummy-for-actions">
</div>
