Hello, <strong><%=h @member.name -%></strong>! If you're reading this, you're in luck - <strong><%=h @creator -%></strong> thinks you're very special and has invited you to use <strong>Agilar Taskboard</strong> as a member of <%=h @member.organizations.first.name -%>. Welcome aboard!

This is your login information:
User name: <%=h @member.username %>
Password: <%=h @password %>

Head over to <a href="<%= @url -%>"><%= @url -%></a> to start living the experience!


      the Agilar Taskboard Team
