#header
  .agilar_taskboard_logo
  #user-info
    #picture
      = image_tag current_user.avatar(:thumb)
    #text
      Welcome,
      %span.username=h current_user.name
      - if current_user.admin?
        #role You are a System Administrator
      - else
        - if current_user.admins_any_organization?
          #role You are an Organization Administrator

      #links
        == [ #{link_to "logout", :controller => "/logout"} | #{link_to_remote "edit profile", :url => edit_admin_member_url(current_user), :method => :get, :update => "dummy-for-actions"} ]
      #revision= FULL_VERSION

%ul#admin-menu
  %li{ :class => "#{'selected' if controller == 'admin/organizations'}"}= link_to 'organizations', organizations_path()
  - if current_user.admin?
    %li{ :class => ('admin-menu-current' if controller == 'admin/members') }= link_to 'people', admin_members_path()