#form
  #form-logo= image_tag "logo-users.png"
  %h1.organization Edit User
  - if @organization
    / :success => 'Users.afterUpdate(request.responseText);', :failure => 'ModalDialog.displayFormErrors(request.responseJSON);'
    - form_for @user, :url => organization_user_path(@organization,@user, :format => :json), :html => { :multipart => true, :target => :upload_frame } do |f|
      %iframe#upload_frame{ :name => "upload_frame", :style => "display: none" }
      = render :partial => 'form', :object => f
      = f.submit
  - else
    - form_for @user, :html => { :multipart => true, :target => :upload_frame } do |f|
      %iframe#upload_frame{ :name => "upload_frame", :style => "display: none" }
      = render :partial => 'form', :object => f
      = f.submit
