- if current_user && current_user.admin? && !User.all.all? {|user| @organization.users.include?(user)} 
  #form
    %h1.organization Add existing
    - form_remote_tag :url => add_user_to_organization_path(@organization.to_param), :success => 'Users.afterCreate(request.responseText);', :failure => 'ModalDialog.displayFormErrors(request.responseJSON);' do |form|
      .field.add_user_to_organization
        = label_tag :username
        = select_tag 'user_id', options_from_collection_for_select(User.all - @organization.users, 'id', 'name'), :class => "add_user_to_organization_select"
        = submit_tag nil, :class => "admin_ok_small"
      
#form
  #form-logo= image_tag "logo-users.png"
  %h1.organization Create User
  - if @organization
    - remote_form_for @user, :url => organization_users_path(@organization, :format => :json), :success => 'Users.afterCreate(request.responseText);', :failure => 'ModalDialog.displayFormErrors(request.responseJSON);' do |f|
      = render :partial => 'form', :object => f
      = f.submit
  - else
    - form_for @user do |f|
      = render :partial => 'form', :object => f
      = f.submit
    