<div id="nametag-<%= nametag.id %>" class="nametag" title="<%= nametag.member.name %>" style="position: absolute; top: <%= nametag.relative_position_y %>px; left: <%= nametag.relative_position_x %>px; background-color: #<%= nametag.member.color %>;">
	<%= nametag.member.formatted_nametag -%>
</div>
<%= draggable_element "nametag-#{nametag.id}", :revert => '"failure"'%>
