<div id="nametag-<%= nametag.id %>" class="nametag nametag_<%= nametag.member.color %>" style="position: absolute; top: <%= nametag.relative_position_y %>px; left: <%= nametag.relative_position_x %>px; ">
	<%= nametag.member.formatted_nametag -%>
</div>
<%= draggable_element "nametag-#{nametag.id}", :revert => '"failure"'%>
