<table>
  <tr>
    <th>Task</th>
    <th>Member</th>
  </tr>

<% for nametag in @nametags %>
  <tr class="<%= cycle('listing-even', 'listing-odd') %>">
    <td>
	<%=h nametag.task_id %><br />
	[
    <%= link_to 'Destroy', nametag, :confirm => 'Are you sure?', :method => :delete %>
    ]</td>
    <td><%=h nametag.member.name %></td>
  </tr>
<% end %>
<tr id="table_footer">
	<td colspan=3>
		<%= link_to 'New nametag', new_nametag_path %>
	</td>
</tr>
</table>
