<h1>New nametag</h1>

<% form_for(@nametag) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= unless @tasks.nil?
		    select_tag(:task_id, options_for_select(@tasks))
		end
	%> 
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', nametags_path %>
