<% if !defined?(no_refresh) -%>
<script>
	Effect.Appear($('dialog-background-fade'), { duration: 0.2, to: 0.9 });
</script>
<% end -%>
<div id="form-add-project" class="admin-new" style="display:none;">
	<%= image_tag "admin/admin-logo-projects.png", :alt => "Project",:style => "position:absolute; top: 0px; left: -120px; " -%>
	<div style="clear: both"></div>
	<%= admin_open_div 765 -%>
		<div class="admin-div-project-top">
		<% action = edit ? :update : :create -%>
		<% remote_form_for @project, :url => { :controller => 'admin/projects', :action => action, :id => @project.id }, :update => "dummy-for-actions" do |f| -%>

			<%= admin_form_name(@project, edit, f) -%>

			<% if @organization %>
				<%= hidden_field_tag "project[organization_id]", @organization -%>
				<%= hidden_field_tag "organization", @organization -%>
				<div class="admin-div-section" style="height: 70px;">
					<%= image_tag 'admin/admin-div-actions-teams.png', :alt => 'Team', :style => 'position: relative; top: 10px; margin-left: 10px;' -%>
					<h2 style="position: relative; top: 10; margin-left: 10px;">Team:</h2>
					<%= select_tag "team_id", options_from_collection_for_select(@teams, 'id', 'name', :selected => @selected), :style => 'position: relative; top: 10px; margin-left: 10px; width: 500px;' -%>
					<% if !edit -%>
					<p style="margin-left: 15px;">
						<%= check_box_tag 'create_team', 'Create a new team',false, :onclick => "toggleSelect('team_id','create_team');" -%>
						<%= label_tag 'create_team', 'Create a new team' -%> 
					</p>
					<% end %>
				</div>
			<% else %>
<!--				<div class="admin-div-section">
				<%= image_tag 'admin/admin-div-actions-organizations.png', :alt => 'Organization', :style => 'position: relative; top: 10px; margin-left: 10px;' -%>
				<h2 style="position: relative; top: 10; margin-left: 10px;">Organization:</h2>
				<%= select_tag "project[organization_id]", options_from_collection_for_select(current_member.organizations_administered, 'id', 'name', :selected => @project.organization_id), :style => 'position: relative; top: 10px; margin-left: 10px; width: 500px;' -%>
				</div> --%>
			<% end %>
			<%= error_messages_for('project', :object => @project) if (defined?(no_refresh) && no_refresh) -%>
			
			<%= admin_form_buttons(@project) -%>
		<% end %>

		<div style="clear: both;"></div>
		</div>
		
	<%= admin_close_div 765 -%>

	<div style="width: 100px; height: 30px;"></div>
</div>
<script>
	centerTo($('form-add-project'),$('dialog-background-fade'));
	Effect.Appear($('form-add-project'), { afterFinish : function() { Form.Element.select($('project_name'))}});	
</script>
