<%= "<script>cancelForm('#{close_dialog}');</script>" if defined? close_dialog -%>
<div id="project-container-<%= project.id %>" class="project-container">
<%= admin_open_div(700) -%>
<div id="project-<%= project.id %>" class="admin-div-project-top">
	<div class="admin-div-project-top-actions admin-div-top-actions" style="float:right; margin: none;">
    <% if member.admin? || member.admins?(project.organization) %>
		<%= link_to_remote image_tag("admin/admin-div-actions-edit.png",:alt => "Edit"), :url => edit_admin_project_url(project.id), :method => :get, :update => "dummy-for-actions" -%>
		<%= link_to_remote image_tag("admin/admin-div-actions-remove.png", :alt => "Remove"), 
				:url => admin_project_url(project.id), 
				:method => :delete, 
				:confirm => "Are you sure?",
				:success => "Effect.Puff($('project-container-#{project.id}'));"
		-%>
    <% end %>

		<%= image_tag "admin/admin-div-actions-separator.png", :alt => "Separator", :class => "admin-div-top-actions-separator"-%>
		<span class="admin-div-top-actions-counts"><%=h project.stories.length %></span>
		<%= image_tag "admin/admin-div-actions-stories.png", :alt => "Stories" -%>
		<%= image_tag "admin/admin-div-actions-separator.png", :alt => "Separator", :class => "admin-div-top-actions-separator"-%>
		<span class="admin-div-top-actions-counts"><%=h project.members.length %></span>
		<%= image_tag "admin/admin-div-actions-members.png", :alt => "Members" -%>
	</div>
	<div id="admin-div-project-top-name-<%= project.id -%>" style="float:left; width: 370px; height: 30px;">
		<script>
			ids<%= project.id %> = new Array('admin-div-project-stories-<%= project.id %>','admin-div-project-members-<%= project.id %>','admin-div-project-taskboard-<%= project.id %>','admin-div-project-backlog-<%= project.id %>','admin-div-project-burndown-<%= project.id %>');
		</script>
		<!-- <%= image_tag "admin/admin-div-expand.png", 
			:alt => "Expand", 
			:style => "cursor: pointer",
			:onClick => "expandCollapseDivs(ids#{project.id})" -%> -->
			
		<h1 onClick="expandCollapseDivs(ids<%= project.id -%>)" id="admin-div-project-top-name-<%= project.id -%>-name" title="<%=h project.name -%>" class="<%= 'not-mine' if !current_member.projects.include?(project) %>"><%=h project.name -%></h1>
	</div>
	<script>
	 resizeFontSizeToFit($('admin-div-project-top-name-<%= project.id -%>-name'), $('admin-div-project-top-name-<%= project.id -%>'));
	</script>
	
	<div style="clear: both;"></div>
</div>

<div id="admin-div-project-taskboard-<%= project.id -%>" class="admin-div-project-taskboard" style="margin:0;">
	<div class="admin-div-section">
		<%= image_tag "admin/admin-div-actions-taskboard.png", :alt => "Taskboard", :class => "admin-div-section-img" -%>
		<h2 style="position: relative; top: 5px; left: 0px;"><%= link_to "Taskboard", :controller => "/taskboard", :action => :show, :id => project.id -%></h2>
	</div>
	<div style="clear: both;"></div>
</div>
<div id="admin-div-project-backlog-<%= project.id -%>" class="admin-div-backlog-members" style="margin:0;">
	<div class="admin-div-section">
		<%= image_tag "admin/admin-div-actions-backlog.png", :alt => "Product Backlog", :class => "admin-div-section-img" -%>
		<h2 style="position: relative; top: 5px; left: 10px;"><%= link_to "Product Backlog", :controller => "/backlog", :action => :show, :id => project.id %></h2>
	</div>
	<div style="clear: both;"></div>
</div>
<% if @current_member.admins?(project.organization) -%>
<div id="admin-div-project-members-<%= project.id -%>" class="admin-div-project-members" style="margin:0;">
	<div class="admin-div-section">
		<%= image_tag "admin/admin-div-actions-members.png", :alt => "Members", :class => "admin-div-section-img" -%>
		<h2 style="position: relative; top: 5px; left: 3px;"><%= link_to "Team Members", :controller => :teams, :project => project.id %></h2>
	</div>
	<div style="clear: both;"></div>
</div>
<% end %>
<!--<div id="admin-div-project-burndown-<%= project.id -%>" class="admin-div-burndown-members" style="margin:0;">
	<div class="admin-div-section">
		<%= image_tag "admin/admin-div-actions-burndown-chart.png", :alt => "Burndown Chart", :class => "admin-div-section-img" -%>
		<h2 style="position: relative; top: 5px; left: 10px;">Burndown Chart</h2>
		<p style="color: #04a; font-size: 12px; position:relative; top: -17px; left: 57px;">(coming soon...)</p>
		
	</div>
	<div style="clear: both;"></div>
	</div> -->
<%= admin_close_div(700) -%>
</div>
<script>
projects_search.addElement('<%= project.to_json %>');
</script>