<% 
element_class = element.class.to_s.downcase
parent_class = parent.class.to_s.downcase
current_member_admins_parent = (element_class == 'member') ? current_member.admin? || (current_member.admins?(parent.organization) && !element.admin?) : (current_member.admins?(parent.organization))
%>
<div id="<%= parent_class -%>-<%= parent.id -%>-<%= element_class -%>-<%= element.id -%>" class="admin-div-element-core admin-div-element">
	<div id="name-<%= parent_class%>-<%= parent.id %>-<%= element_class -%>-<%= element.id -%>-container">
		<p id="name-<%= parent_class%>-<%= parent.id %>-<%= element_class -%>-<%= element.id -%>" title="<%= element.name -%>">
			<%=h element.name -%>
		</p>
	</div>
	<script>
		resizeFontSizeToFit($('name-<%= parent_class%>-<%= parent.id %>-<%= element_class -%>-<%= element.id -%>'),$('name-<%= parent_class%>-<%= parent.id %>-<%= element_class -%>-<%= element.id -%>-container'));
<% if !current_member_admins_parent -%>
		//$('name-<%= parent_class%>-<%= parent.id %>-<%= element_class -%>-<%= element.id -%>').setStyle({ width: '100%' });
<% end -%>
	</script>
</div>
