= form.error_messages 
.field
  = form.label :name
  = form.text_field :name

.field
  = form.label :team
  = select("project", "team", @organization.teams.all.collect {|o| [ o.name, o.id ] })

.field
  = form.label :public, "Make the project Publicly available"
  = form.check_box :public