<div id="taskboard_menu_space" style="background: transparent; height: 123px; width: 100%;">
</div>

<div id="taskboard_menu" style="display: none; position:absolute; top: 0px; left: 0px; z-index: 9; background: url('/images/menu_expanded_background.png') repeat-x white; width: 100%; height: 136px;">

	<a href="#" onClick="collapseMenu();"><%= image_tag 'menu_collapse.png', :border => 0, :style => "float:left;" -%></a>

	<%= image_tag 'menu_trash.png' , :border => 0, :style => "float:left; position: relative; top: 20px;", :id => 'trash'  -%>
	<%= drop_receiving_element("trash", 
		:accept => "task", 
		:with   => "'task=' + (element.id.split('-').last())", 
		:url => { :action=>:destroy_task}) 
	%>
	<%= drop_receiving_element("trash", 
		:accept => "statustag", 
		:with   => "'statustag=' + (element.id.split('-').last())", 
		:url => { :action=>:destroy_statustag}) 
	%>
	<%= drop_receiving_element("trash", 
		:accept => "form-add-task"
		) 
	%>

	<%= image_tag 'menu_task_add.png' , :border => 0 , :style => "float:left;position: relative; top: 30px; left: 10px;", :id => "task-add", :class => "task-add" -%>
	<%= draggable_element "task-add", :revert => 'true'%>
	
	<table id="menu_statustags">
		<%= render :partial => "menu_statustags" %> 
	</table>
	

</div>

<div id="taskboard_menu_expand" style="position:absolute; top: 0px; left: 0px; z-index: 9; background: url('/images/menu_collapsed_background.png') left no-repeat transparent; height: 61px;width: 69px;">
	<a href="#" onClick="expandMenu();"><%= image_tag('menu_expand.png', :border => 0, :style => "position: relative; top: 11px; left: 14px;")-%></a>
</div>
<script>
	collapseMenu();
	keepDivOnTop("taskboard_menu_expand");
	keepDivOnTop("taskboard_menu");
</script>
