<div id="taskboard_menu_space" style="background: transparent; height: 123px; width: 100%;">
</div>

<div id="taskboard_menu" style="display: none; position:absolute; top 0px; left: 0px; z-index: 9; background: url('/images/menu_expanded_background.png') repeat-x white; width: 100%; height: 136px;">

	<a href="#" onClick="collapseMenu();"><%= image_tag 'menu_collapse.png', :border => 0, :style => "float:left;" -%></a>

	<a href="#"><%= image_tag 'menu_trash.png' , :border => 0, :style => "float:left; position: relative; top: 20px;"  -%></a>

	<a href="#"><%= image_tag 'menu_task_add.png' , :border => 0 , :style => "float:left;position: relative; top: 30px; left: 10px;" -%></a>

	<table id="menu_statustags">
		<tr>
			<td><%= image_tag 'tags/status/statustag_please_analyze.png' , :border => 0 -%></td>
			<td><%= image_tag 'tags/status/statustag_please_test.png' , :border => 0 -%></td>
			<td><%= image_tag 'tags/status/statustag_done.png' , :border => 0 -%></td>
			<td><%= image_tag 'tags/status/statustag_blocked.png' , :border => 0 -%></td>
		</tr>                                        
		<tr>                                         
			<td><%= image_tag 'tags/status/statustag_high_priority.png' , :border => 0 -%></td>
			<td><%= image_tag 'tags/status/statustag_waiting.png' , :border => 0 -%></td>
			<td><%= image_tag 'tags/status/statustag_delegated.png' , :border => 0 -%></td>
			<td><%= image_tag 'tags/status/statustag_bug.png' , :border => 0 -%></td>
		</tr>
	</table>
</div>

<div id="taskboard_menu_expand" style="position:absolute; top 0px; left: 0px; z-index: 9; background: url('/images/menu_collapsed_background.png') left no-repeat transparent; height: 61px;width: 69px;">
	<a href="#" onClick="expandMenu();"><%= image_tag('menu_expand.png', :border => 0, :style => "position: relative; top: 11px; left: 14px;")-%></a>
</div>
<script>
	collapseMenu();
	keepDivOnTop("taskboard_menu_expand");
	keepDivOnTop("taskboard_menu");
</script>
