<% for member in members -%>
<div id="add-nametag-<%= member.id -%>" class="add_nametag" style="float: left;">
	<%= image_tag 'default_av.png' %>
	<div class="menu_nametag nametag nametag_<%= member.color %>"><%= member.name %></div>
</div>
<%= draggable_element "add-nametag-#{member.id}", :revert => '"failure"' -%>
<% end %>
