<table>
  <tr>
    <th>Projects</th>
  </tr>
<% if @projects.empty? %>
	<tr><td style="text-align: center">You don't have projects assigned, contact the system administrator<br /><%= link_to "Logout", :controller => :logout %>
	</td></tr>
<% end %>
<% for project in @projects %>
  <tr class="<%= cycle('listing-even', 'listing-odd') %>">
    <td>
		<h3><%= project.name -%></h3>
		<ul>
			<li>Stories: <%= project.stories.count %></li>
			<li>Teams:
				<ul>
					<% for team in project.teams %>
					<li>
						<%= team.name %> 
						<% if @member.admins?(project.organization)%>
						[
:						<%= link_to 'Remove', :action => 'delete_team_to_project_relation', :id => project, :team_id => team.id, :confirm => 'Are you sure?', :method => :delete %>
						]
						<% end %>
					</li>
					<% end %>
				</ul>
		</ul>
		
		[ 
		<%= link_to 'Taskboard', :controller => :taskboard, :action => :show, :id => project.id %> | 
		<%= link_to 'Backlog', :controller => :backlog, :action => :show, :id => project.id %> | 
		<%= link_to 'Manage Teams', :controller => :teams, :project => project.id %> | 
		<%= link_to 'Edit', edit_project_path(project) %> |

 
		<%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
		]
	</td>
  </tr>
<% end %>
<% if @member.admin? %>
<tr id="table_footer">
	<td>
		<%= link_to 'New project', new_project_path %>
	</td>
</tr>
<% end %>
</table>

