	<td class="story-td">
		<div class="story" id="storycard-<%= story.id -%>">
			<div class="story-left-column">
				<p class="story-field-realid"><%= story.realid %></p>
				<p class="story-field-name"><%= story.name[0..20] %><%= 
				if(story.name.size > 20) 
					"..."
				end %></p>
				<p class="story-field-label-priority">Priority:</p>
				<p class="story-field-number-priority"><%= story.priority %></p>
				<p class="story-field-label-size">Size:</p>
				<p class="story-field-number-size"><%= story.size %></p>
			</div>
		</div>
	</td>
	<td id="not_started-<%= story.id %>" style="<%= taskboard_border_style(@color, [ "left", "bottom"]) %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks.not_started } %> 
	</td>
	<td id="in_progress-<%= story.id %>" style="<%= taskboard_border_style(@color, [ "left", "bottom"]) %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks.in_progress } %> 
	</td>
	<td id="finished-<%= story.id %>" style="<%= taskboard_border_style(@color, [ "left", "right", "bottom"]) %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks.finished } %> 
	</td>
	
<%= drop_receiving_element("not_started-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=not_started' + '&x='+ (x(element) - x($('not_started-#{story.id}'))) +'&y='+ (y(element) - y($('not_started-#{story.id}')))", 
	:url => { :controller => :tasks, :action=>:update_task}) 
%>
<%= drop_receiving_element("not_started-#{story.id}", 
	:accept => "task-add", 
	:with   => "'status=not_started' + '&story=#{story.id}'",
	:url => { :controller => :tasks, :action=>:show_form}) 
%>

<%= drop_receiving_element("in_progress-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=in_progress' + '&x='+ (x(element) - x($('in_progress-#{story.id}')))+ '&y='+ (y(element) - y($('in_progress-#{story.id}')))", 
	:url => { :controller => :tasks, :action=>:update_task}) 
%>

<%= drop_receiving_element("finished-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=finished' + '&x='+ (x(element) - x($('finished-#{story.id}')))+ '&y='+ (y(element) - y($('finished-#{story.id}')))", 
	:url => { :controller => :tasks, :action=>:update_task}) 
%>
