	<td class="story-td">
		<div class="story" id="storycard-<%= story.id -%>" title="<%= story.name %>">
			<div class="story-container" id="storycard-<%= story.id -%>-container">
				<p class="story-field-realid" ><%= story.realid %></p>
				<p id="storycard-<%= story.id %>-name" class="story-field-name"><%= story.name %></p>
				<div style="clear: both;"></div>
				<div class="storycard-priority">
					<p class="story-field-label">Priority:</p>
					<p class="story-field-number"><%= story.priority %></p>
				</div>
				<div class="storycard-size">
					<p class="story-field-label">Size:</p>
					<p class="story-field-number"><%= story.size %></p>
				</div>
				
			</div>
		</div>
		<script>
		resizeFontSizeToFit($('storycard-<%= story.id %>-name'), $('storycard-<%= story.id -%>-container'));
		$('storycard-<%= story.id %>-name').setStyle({left: '-' + $('storycard-<%= story.id %>-name').offsetWidth / 2 + 'px'});
		</script>
	</td>
	<td id="not_started-<%= story.id %>" style="<%= taskboard_border_style(@color, [ "left", "bottom"]) %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks.not_started } %> 
	</td>
	<td id="in_progress-<%= story.id %>" style="<%= taskboard_border_style(@color, [ "left", "bottom"]) %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks.in_progress } %> 
	</td>
	<td id="finished-<%= story.id %>" style="<%= taskboard_border_style(@color, [ "left", "right", "bottom"]) %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks.finished } %> 
	</td>


<%= drop_receiving_element("not_started-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=not_started&story=#{story.id}' + '&x='+ (x(element) - x($('not_started-#{story.id}'))) +'&y='+ (y(element) - y($('not_started-#{story.id}')))", 
	:url => { :controller => :tasks, :action=>:update_task}) 
%>
<%= drop_receiving_element("not_started-#{story.id}", 
	:accept => "task-add", 
	:with   => "'status=not_started' + '&story=#{story.id}'",
	:url => { :controller => :tasks, :action=>:show_form}) 
%>
<%= drop_receiving_element("in_progress-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=in_progress&story=#{story.id}' + '&x='+ (x(element) - x($('in_progress-#{story.id}')))+ '&y='+ (y(element) - y($('in_progress-#{story.id}')))", 
	:url => { :controller => :tasks, :action=>:update_task}) 
%>
<%= drop_receiving_element("finished-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=finished&story=#{story.id}' + '&x='+ (x(element) - x($('finished-#{story.id}')))+ '&y='+ (y(element) - y($('finished-#{story.id}')))", 
	:url => { :controller => :tasks, :action=>:update_task}) 
%>
