	<td class="story-td">
		<div class="story" id="storycard-<%= story.id -%>" title="<%= story.name %>">
			<div class="story-container" id="storycard-<%= story.id -%>-container">
				<p class="story-field-realid" ><%= story.realid %></p>
				<p id="storycard-<%= story.id %>-name" class="story-field-name"><%= story.name %></p>
				<div style="clear: both;"></div>
				<div class="storycard-priority">
					<p class="story-field-label">Priority:</p>
					<p class="story-field-number"><%= story.priority %></p>
				</div>
				<div class="storycard-size">
					<p class="story-field-label">Size:</p>
					<p class="story-field-number"><%= story.size %></p>
				</div>
				
			</div>
		</div>
		<script>
		resizeFontSizeToFit($('storycard-<%= story.id %>-name'), $('storycard-<%= story.id -%>-container'));
		$('storycard-<%= story.id %>-name').setStyle({left: '-' + $('storycard-<%= story.id %>-name').offsetWidth / 2 + 'px'});
		</script>
	</td>
	<td id="not_started-<%= story.id %>" style="<%= taskboard_border_style(@color, [ "left", "bottom"]) %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks.not_started } %> 
	</td>
	<td id="in_progress-<%= story.id %>" style="<%= taskboard_border_style(@color, [ "left", "bottom"]) %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks.in_progress } %> 
	</td>
	<td id="finished-<%= story.id %>" style="<%= taskboard_border_style(@color, [ "left", "right", "bottom"]) %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks.finished } %> 
	</td>
	
