	<td class="story-td">
		<div class="story" id="storycard-<%= story.id -%>">
			<a href="#" onClick="flip('storycard-<%= story.id -%>','back')">
				<%= image_tag 'story_flip.png', :alt => 'Flip', :class => 'flip-story-image' -%>
			</a>
			<div class="story-left-column">
				<p class="story-field-title"><%= story.realid %></p>
				<p class="story-field-title"><%= story.name %></p>
				<p class="story-field-label story-field-label-priority">Priority:</p>
				<div class="story-field-table">								
				<div class="story-field-cell">
					<p class="story-number-field-priority"><%= story.priority %></p>
				</div>
				</div>
				
				<p class="story-field-label story-field-label-size">Size:</p>
				<div class="story-field-table">								
				<div class="story-field-cell">
					<p class="story-number-field-size"><%= story.size %></p>
				</div>
				</div>

			</div>
		</div>
		<div class="story" id="storycard-<%= story.id -%>-back" style="display:none;">
			<a href="#" onClick="flip('storycard-<%= story.id -%>','front')">
				<%= image_tag 'story_flip.png', :alt => 'Flip', :class => 'flip-story-image' -%>
			</a>
			<p class="story-field-back-label story-field-label-requirement">Requirement:</p>
			<p class="story-field story-text-field story-text-field-requirement"><%= story.requirement %></p>
			<p class="story-field-back-label story-field-label-howto">How to demo:</p>
			<p class="story-field story-text-field story-text-field-howto"><%= story.how_to_demo %></p>
		</div>
	</td>
	<td id="not_started-<%= story.id %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks, :status => 'not_started' } %> 
	</td>
	<td id="in_progress-<%= story.id %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks, :status => 'in_progress' } %> 
	</td>
	<td id="finished-<%= story.id %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks, :status => 'finished' } %> 
	</td>
	
<%= drop_receiving_element("not_started-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=not_started' + '&x='+ (x(element) - x($('not_started-#{story.id}'))) +'&y='+ (y(element) - y($('not_started-#{story.id}')))", 
	:url => { :action=>:update_task}) 
%>
<%= drop_receiving_element("not_started-#{story.id}", 
	:accept => "task-add", 
	:with   => "'status=not_started' + '&story=#{story.id}'",
	:url => { :action=>:show_new_task}) 
%>

<%= drop_receiving_element("in_progress-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=in_progress' + '&x='+ (x(element) - x($('in_progress-#{story.id}')))+ '&y='+ (y(element) - y($('in_progress-#{story.id}')))", 
	:url => { :action=>:update_task}) 
%>

<%= drop_receiving_element("finished-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=finished' + '&x='+ (x(element) - x($('finished-#{story.id}')))+ '&y='+ (y(element) - y($('finished-#{story.id}')))", 
	:url => { :action=>:update_task}) 
%>
