	<td class="story_td">
		<div class="story" id="story-<%= story.id -%>">
			<div class="story-left-column">
				<p class="story-field-title"><%= story.name %></p>
				<p class="story-field-label">Requirement:</p>
				<p class="story-field story-text-field"><%= story.requirement %></p>
				<p class="story-field-label">How to demo:</p>
				<p class="story-field story-text-field"><%= story.how_to_demo %></p>
			</div>
			<div class="story-right-column">
				<p class="story-field-label">Priority:</p>
				<p class="story-field story-number-field"><%= story.priority %></p>
				<p class="story-field-label">Size:</p>
				<p class="story-field story-number-field"><%= story.size %></p>
			</div>
		</div>
	</td>
	<td id="not_started-<%= story.id %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks, :status => 'not_started' } %> 
	</td>
	<td id="in_progress-<%= story.id %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks, :status => 'in_progress' } %> 
	</td>
	<td id="finished-<%= story.id %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks, :status => 'finished' } %> 
	</td>
	
<%= drop_receiving_element("not_started-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=not_started' + '&x='+ (x(element) - x($('not_started-#{story.id}'))) +'&y='+ (y(element) - y($('not_started-#{story.id}')))", 
	:url => { :action=>:update_task}) 
%>
<%= drop_receiving_element("not_started-#{story.id}", 
	:accept => "task-add", 
	:with   => "'status=not_started' + '&story=#{story.id}' + '&x='+x($(element)) +'&y='+y(element)",
	:url => { :action=>:show_new_task}) 
%>

<%= drop_receiving_element("in_progress-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=in_progress' + '&x='+ (x(element) - x($('in_progress-#{story.id}')))+ '&y='+ (y(element) - y($('in_progress-#{story.id}')))", 
	:url => { :action=>:update_task}) 
%>

<%= drop_receiving_element("finished-#{story.id}", 
	:accept => "task", 
	:with   => "'task=' + (element.id.split('-').last()) + '&status=finished' + '&x='+ (x(element) - x($('finished-#{story.id}')))+ '&y='+ (y(element) - y($('finished-#{story.id}')))", 
	:url => { :action=>:update_task}) 
%>