%tr.story{:id => "story-#{story.id}", :class => "#{story.status}", 'data-story-id' => story.id, 'data-project-id' => story.project_id}
  %td.name-cell
    %strong
      = story.realid
    = story.name
    - if @view == :team
      == - #{link_to("#{story.project.name}", project_backlog_index_path(story.project.id))} - 
    (
    %span{ :title => "Not Started Tasks" }
      = story.tasks.not_started.size
    \/
    %span{ :title => "In Progress Tasks" }
      = story.tasks.in_progress.size
    \/
    %span{ :title => "Finished Tasks" }
      = story.tasks.finished.size
    )
    %br
    - if !story.finished?
      .actions
        == [
        - if story.stopped?
          == #{link_to_remote('Start', :url => project_story_start_path(story.project, story), :success => 'location = location')} /
        - if story.started?
          == #{link_to_remote 'Stop', :url => project_story_stop_path(story.project, story), :success => 'location = location'} /
        == #{link_to_remote 'Finish', :url => project_story_finish_path(story.project, story), :success => 'location = location'} / 
        == #{link_to_function "Edit", "Stories.editForm(#{story.id},#{story.project.id})"} /
        == #{link_to_remote "Delete", :url => project_story_url(story.project,story), :confirm => 'Are you sure?', :method => :delete, :complete => "location.reload(true);"} ]
    - else
      == [ #{link_to_remote('Re-open', :url => project_story_start_path(story.project, story), :success => 'location = location')} / Date Finished: #{story.updated_at.strftime("%d %b %Y")}]
  %td.priority-cell
    %span.in_place_edit{ :id => "priority-#{story.id}" }
      - if !story.finished?
        %p{ :id => "edit_priority_#{story.id}"}= story.priority
        :javascript
          new Ajax.InPlaceEditor('edit_priority_#{story.id}', '/projects/#{story.project.to_param}/stories/#{story.to_param}/update_priority', {cancelControl: 'button', onComplete: function(){ location = location }});
      - else
        %p -
  %td.size-cell
    %span.in_place_edit{ :id => "size-#{story.id}" }
      - if !story.finished?
        %p{ :id => "edit_size_#{story.id}"}= story.size ? story.size : "Edit"
        :javascript
          new Ajax.InPlaceEditor('edit_size_#{story.id}', '/projects/#{story.project.to_param}/stories/#{story.to_param}/update_size', { cancelControl: 'button' });
      - else
        %p= story.id
  %td.description-cell
    = story.description
