	<td style="story">
		<div class="story" id="story-<%= story.id -%>">
			<h3><%= story.name %></h3>
			<ul>
				<li>Priority: <%= story.priority %></li>
				<li>Size: <%= story.size %></li>
				<li>Requirement:<br /> <%= story.requirement %></li>
				<li>How to demo:<br /> <%= story.how_to_demo %></li>
			</ul>
			<%= image_tag 'task_add.png', :alt => 'Add Task' ,:style => "vertical-align: middle;" -%>
			<%= link_to 'Add Task', new_task_path(:story => story) %>
		</div>
	</td>
	<td id="not_started-<%= story.id %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks, :status => 'not_started' } %> 
	</td>
	<td id="in_progress-<%= story.id %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks, :status => 'in_progress' } %> 
	</td>
	<td id="finished-<%= story.id %>">
		<%= render :partial => "tasks/tasks_by_status", :locals => { :tasks => story.tasks, :status => 'finished' } %> 
	</td>
	
<%= drop_receiving_element("not_started-#{story.id}", :accept => "task", :with   => "'task=' + (element.id.split('-').last()) + '&status=not_started'", :url => { :action=>:update_task}) %>
<%= drop_receiving_element("in_progress-#{story.id}", :accept => "task", :with   => "'task=' + (element.id.split('-').last()) + '&status=in_progress'", :url => { :action=>:update_task}) %>
<%= drop_receiving_element("finished-#{story.id}", :accept => "task", :with   => "'task=' + (element.id.split('-').last()) + '&status=finished'", :url => { :action=>:update_task}) %>
