<h1>Listing stories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th>Priority</th>
    <th>Size</th>
    <th>Requirement</th>
    <th>How to demo</th>
  </tr>

<% for story in @stories %>
  <tr>
    <td><%=h story.name %></td>
    <td><%=h story.project.name %></td>
    <td><%=h story.priority %></td>
    <td><%=h story.size %></td>
    <td><%=h story.requirement %></td>
    <td><%=h story.how_to_demo %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New story', new_story_path %>
