<h1>New story</h1>

<% form_for(@story) do |f| %>
  <%= f.error_messages %>
  <p>
	<%= unless @project.nil?
 		@project.name
		hidden_field_tag(:project_id, "#{@project.id}")
		else 
		    select_tag(:project_id, options_for_select(@projects))
		end
	%> 
  </p>
  <p>
    ID<br />
    <%= f.text_field :realid, :value => next_realid(@last_realid) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :requirement %><br />
    <%= f.text_area :requirement %>
  </p>
  <p>
    <%= f.label :how_to_demo %><br />
    <%= f.text_area :how_to_demo %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', stories_path %>
