<p>
  <b>Name:</b>
  <%=h @story.name %>
</p>

<p>
  <b>Project:</b>
  <%=h @story.project_id %>
</p>

<p>
  <b>Priority:</b>
  <%=h @story.priority %>
</p>

<p>
  <b>Size:</b>
  <%=h @story.size %>
</p>

<p>
  <b>Requirement:</b>
  <%=h @story.requirement %>
</p>

<p>
  <b>How to demo:</b>
  <%=h @story.how_to_demo %>
</p>



<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
