<% 
element_class = element.to_s.downcase
element_class = "guest team member" if element.to_s.downcase == "guestteammembership"
parent_class = parent.class.to_s.downcase
current_member_admins_parent = (element_class == 'member') ? current_user.admin? || (current_user.admins?(parent)) : (current_user.admins?(parent))
image_name = (element_class == "guest team member") ? "admin/admin-div-actions-members.png" : "admin/admin-div-actions-#{element_class.pluralize}.png"
%>
<div class="admin-div-section">
	<!--<span class="admin-div-elements-search"><%= text_field_tag "admin-div-members-search", "search", :onClick => "if(this.value == 'search') {this.clear();}" , :autocomplete => "off", :class => "admin-div-elements-search-field" -%><%= image_tag 'admin/admin-div-elements-search.png', :alt => "find" -%></span> -->
	<%= image_tag image_name, :alt => "#{element_class.pluralize.capitalize}", :style => "position: relative; top: 10px" -%>
	<h2><%= element_class.pluralize.capitalize -%></h2>
	<% if current_user.admins?(parent)%>
		<div style="float: right; position: relative; top: 8px; right: 15px;">
		<%= link_to_remote "new #{element_class}" + image_tag("admin/admin-div-elements-add.png", :alt => "Add", :style => "margin-left: 10px; "), 
			:url => { :controller => "admin/#{element_class.pluralize}" , :action => :new, :organization => parent.id }, :update => "dummy-for-actions" unless (element_class == "guest team member")-%>
		<%= link_to_remote "new #{element_class}" + image_tag("admin/admin-div-elements-add.png", :alt => "Add", :style => "margin-left: 10px; "), 
				:url => { :controller => "admin/projects" , :action => :new_guest_team_member, :organization => organization.id }, :update => "dummy-for-actions" if (element_class == "guest team member")-%>
		</div>
	<% end %>
</div>
