<% if !defined?(no_refresh) -%>
<script>
	Effect.Appear($('dialog-background-fade'), { duration: 0.2, to: 0.9 });
</script>
<% end -%>
<div id="form-add-organization" class="admin-new" style="display:none;">
	<%= image_tag "admin/admin-logo-organizations.png", :alt => "Organization", :style => "position:absolute; top: -64px; left: -54px; z-index: 101; " -%>
	<div style="clear: both"></div>
	<%= admin_open_div 765 -%>
	<div class="admin-div-organization-top">
		<% remote_form_for @organization, :url => { :controller => 'admin/organizations' } do |f| -%>
		<% 
		if (edit || defined? no_refresh) 
			name = @organization.name
		else
			name =  "Click To Edit Organization Name" 
		end 
		%>

		<%= f.text_field :name, 
			:value => name, 
			:class => "form-name", 
			:onClick => "if(this.value == 'Click To Edit Organization Name' ) this.clear();" %>
			<%= image_submit_tag "admin/admin-form-submit.png", :alt => "Submit", :style => "position:absolute; top: 25px; right: 119px;"-%>
			<%= image_tag "admin/admin-form-cancel.png", 
				:alt => "Cancel", 
				:style => "position:absolute; top: 25px; right: 30px; cursor: pointer;", 
				:onClick => "cancelForm('form-add-organization');" -%>
		<% end %>
	</div>
	<div class="admin-div-section">
		<%= image_tag "admin/admin-div-actions-members.png", :alt => "members", :style => "position: relative; top: 10px" -%>
		<h2>Members</h2>
	</div>
	<div class="admin-div-elements-actions">
		<%= image_tag "admin/admin-div-elements-next.png", :alt => "Next" -%><br />
		<%= image_tag "admin/admin-div-elements-prev.png", :alt => "Previous" -%><br />
		<%= image_tag "admin/admin-div-elements-add.png", :alt => "Add" -%>
	</div>
		<% @organization.members.each do |member| -%>
			<div class="admin-div-element">
			<%= image_tag "admin/admin-div-element-remove.png", :alt => "Edit", :style => "float: right; position:relative; top: 5px; left: -10px;" -%>
			<%= image_tag "admin/admin-div-element-edit.png", :alt => "Edit", :style => "float: right; position:relative; top: 5px; left: -15px;" -%>
			<p id="admin-div-element-text-member-<%= member.id -%>"><%= member.name -%></p>
			</div>
		<% end -%>
		<div style="clear: both;"></div>
		<% if defined?(no_refresh) && no_refresh -%>
		<%= error_messages_for('organization', :object => @organization) -%>
		<div style="clear: both;"></div>
		<% end -%>
		
	<%= admin_close_div 765 -%>
</div>
<% if !defined?(no_refresh) -%>
<script>
	centerTo($('form-add-organization'),$('dialog-background-fade'));
	Effect.Appear($('form-add-organization'));
</script>
<% else -%>
<script>
	centerTo($('form-add-organization'),$('dialog-background-fade'));
	Effect.Appear($('form-add-organization'));
</script>
<% end -%>
