<% if !defined?(no_refresh) -%>
<script>
	Effect.Appear($('dialog-background-fade'), { duration: 0.2, to: 0.9 });
</script>
<% end -%>
<div id="form-add-organization" class="admin-new" style="display:none;">
	<%= image_tag "admin/admin-logo-organizations.png", :alt => "Organization",:style => "position:absolute; top: 0px; left: -120px; " -%>
	<div style="clear: both"></div>
	<%= admin_open_div 765 -%>
		<div class="admin-div-organization-top">
			<% action = edit ? :update : :create -%>
			<% remote_form_for @organization, :url => { :controller => "admin/organizations", :action => action, :id => @organization}, :update => "dummy-for-actions" do |f| -%>
			<%= admin_form_name(@organization, edit, f) -%>
			<%= error_messages_for('organization', :object => @project) if (defined?(no_refresh) && no_refresh) -%>
			<%= admin_form_buttons(@organization) -%>
			<% end %>
		</div>
		<div style="clear: both;"></div>
	<%= admin_close_div 765 -%>
</div>
<script>
	centerTo($('form-add-organization'),$('dialog-background-fade'));
	Effect.Appear($('form-add-organization'), { afterFinish : function() { Form.Element.select($('organization_name'))}});	
</script>