<%= "<script>cancelForm('#{close_dialog}');</script>" if defined? close_dialog -%>
<div id="organization-<%= organization.id %>-container">
<%= admin_open_div(700) -%>
<div id="organization-<%= organization.id %>" class="admin-div-organization-top">
	<div class="admin-div-organization-top-actions admin-div-top-actions" style="float:right; margin: none;">
		<% if current_member.admins?(organization)%>
		<%= link_to_remote image_tag("admin/admin-div-actions-edit.png",:alt => "Edit"), :url => { :action => :show_form, :id => organization.id } -%>
		<%= link_to_remote image_tag("admin/admin-div-actions-remove.png", :alt => "Remove"), 
				:url => admin_organization_url(organization.id), 
				:method => :delete, 
				:confirm => "Are you sure?",
				:success => "Effect.Puff($('organization-#{organization.id}-container'));"
		-%>
		<% end %>
		<%= image_tag "admin/admin-div-actions-separator.png", :alt => "Separator", :class => "admin-div-top-actions-separator"-%>
		<span class="admin-div-top-actions-counts"><%=h organization.projects.count %></span>
		<%= image_tag "admin/admin-div-actions-projects.png", :alt => "Projects" -%>
		<%= image_tag "admin/admin-div-actions-separator.png", :alt => "Separator", :class => "admin-div-top-actions-separator"-%>
		<span class="admin-div-top-actions-counts"><%=h organization.members.count %></span>
		<%= image_tag "admin/admin-div-actions-members.png", :alt => "Members" -%>
	</div>
	<div id="admin-div-organization-top-name" style="float:left;">
		<script>
			ids<%= organization.id %> = new Array('admin-div-organization-projects-<%= organization.id %>', 'admin-div-organization-members-<%= organization.id %>');
		</script>
		<%= image_tag "admin/admin-div-expand.png", 
			:alt => "Expand", 
			:style => "cursor: pointer",
			:onClick => "expandCollapseDivs(ids#{organization.id})" -%>
			
		<h1 id="organization-<%= organization.id -%>-name" onClick="expandCollapseDivs(ids<%= organization.id -%>)"><%=h truncate(organization.name) -%></h1>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="admin-div-organization-projects-<%= organization.id -%>" class="admin-div-organization-projects" style="display:none">
<div class="admin-div-section">
	<span class="admin-div-elements-search"><%= text_field_tag "admin-div-projects-search", "search", :onClick => "if(this.value == 'search') {this.clear();}" , :autocomplete => "off", :class => "admin-div-elements-search-field" -%><%= image_tag 'admin/admin-div-elements-search.png', :alt => "find" -%></span>
	<%= image_tag "admin/admin-div-actions-projects.png", :alt => "Projects", :style => "position: relative; top: 10px" -%>
	<h2>Projects</h2>
	
</div>
<div class="admin-div-elements-actions">
	<% if current_member.admins?(organization)%>
	<%= link_to_remote image_tag("admin/admin-div-elements-add.png", :alt => "Add"), :url => { :controller => "admin/projects" , :action => :show_form, :display_existing => true, :organization => organization.id } -%>
	<% end %>
	<%= image_tag "admin/admin-div-elements-next.png", :alt => "Next", :style => "display:none;"-%><br />
	<%= image_tag "admin/admin-div-elements-prev.png", :alt => "Previous", :style => "display:none;" -%><br />
</div>
	<% organization.projects.each do |project| -%>
		<div id="organization-<%= organization.id %>-project-<%= project.id %>" class="admin-div-element">
		<% if current_member.admins?(organization)%>
		<%= link_to_remote image_tag("admin/admin-div-element-remove.png", :alt => "Remove",
				:style => "float: right; position:relative; top: 5px; left: -10px;"),
				:url => admin_project_url(project.id),
				:method => :delete,
				:confirm => "Are you sure?",
				:success => "Effect.Puff($('organization-#{organization.id}-project-#{project.id}'));" -%>
		<%= link_to_remote image_tag("admin/admin-div-element-edit.png", :alt => "Edit",
                                     :style => "float: right; position:relative; top: 5px; left: -15px;"),
                                   :url => { :controller => 'admin/projects', :action => :show_form, :id => project.id } -%>
		<% end %>
		<p id="admin-div-element-text-project-<%= project.id -%>"><%=h truncate(project.name, :length => 13) -%></p>
		<script>
			//resizeFontSizeToFitParent('admin-div-element-text-project-<%= project.id -%>');
		</script>
		</div>
	<% end -%>
	<div style="clear: both;"></div>
</div>

<div id="admin-div-organization-members-<%= organization.id -%>" class="admin-div-organization-members" style="display:none">
<div class="admin-div-section">
	<span class="admin-div-elements-search"><%= text_field_tag "admin-div-members-search", "search", :onClick => "if(this.value == 'search') {this.clear();}" , :autocomplete => "off", :class => "admin-div-elements-search-field" -%><%= image_tag 'admin/admin-div-elements-search.png', :alt => "find" -%></span>
	<%= image_tag "admin/admin-div-actions-members.png", :alt => "members", :style => "position: relative; top: 10px" -%>
	<h2>Members</h2>
</div>
<div class="admin-div-elements-actions">
	<% if current_member.admins?(organization)%>
	<%= link_to_remote image_tag("admin/admin-div-elements-add.png", :alt => "Add"), :url => { :controller => 'admin/members', :action => :show_form, :organization => organization.id } -%>
	<% end %>
	<%= image_tag "admin/admin-div-elements-next.png", :alt => "Next", :style => "display:none;" -%><br />
	<%= image_tag "admin/admin-div-elements-prev.png", :alt => "Previous", :style => "display:none;" -%><br />
</div>
	<% organization.members.each do |member| -%>
		<div id="organization-<%= organization.id %>-member-<%= member.id %>"class="admin-div-element">
		<% if current_member.admins?(organization)%>
		<%= link_to_remote image_tag("admin/admin-div-element-remove.png", :alt => "Remove",
                                     :style => "float: right; position:relative; top: 5px; left: -10px;"),
                                   :url => { :controller => 'admin/organizations', :action => 'remove_member', :organization => organization.id, :member => member.id },
                                   :confirm => 'Are you sure?',
                                   :success => "Effect.Puff($('organization-#{organization.id}-member-#{member.id}'));" -%>

		<%= image_tag "admin/admin-div-element-edit.png", :alt => "Edit", :style => "float: right; position:relative; top: 5px; left: -15px;" -%>
		<% if member.admins?(organization) -%>
			<% 
				action = 'remove' 
				reaction = 'make'
			%>
		<% else %>
			<% 
				action = 'make' 
				reaction = 'remove'
			%>
		<% end %>
		<% if member.admin? %>
			<%= image_tag("admin/admin-div-element-sysadmin.png", :alt => "sysadmin", :id => "organization-#{organization.id}-member-#{member.id}-admin", :style =>"float: right; position:relative; top: 5px; left: -25px;") -%>
		<% else %>
			<%= link_to_remote image_tag("admin/admin-div-element-#{action}-admin.png", :alt => "#{action} admin", :id => "organization-#{organization.id}-member-#{member.id}-admin", :style =>"float: right; position:relative; top: 5px; left: -25px;"), 
			:url => { :controller => 'admin/organizations', :action => 'toggle_admin', :id => organization, :member => member },
			:success => "adminToggleImage('organization-#{organization.id}-member-#{member.id}-admin')"
		-%>
		<% end -%>
		<% end %>
		<p id="admin-div-element-text-member-<%= member.id -%>"><%=h truncate(member.name, :length => 16) -%></p>
		</div>
	<% end -%>
	<div style="clear: both;"></div>
</div>
<%= admin_close_div(700) -%>
</div>
