= "<script>cancelForm('#{close_dialog}');</script>" if defined? close_dialog
.admin_container.organization{ 'data-organization-id' => organization.to_param }
  / Name
  %h2= organization.name
  
  / Admin Actions
  - if current_user.admins?(organization)
    .admin_actions
      = link_to_remote image_tag("admin/admin-div-actions-edit.png",:alt => "Edit"), :url => edit_organization_url(organization), :method => :get, :update => "dummy-for-actions"
      = link_to_remote image_tag("admin/admin-div-actions-remove.png", :alt => "Remove"),  :url => organization_url(organization),  :method => :delete,  :confirm => "Are you sure?", :success => "Effect.Puff($('organization-#{organization.id}-container'));"
  
  / Project Section
  .section.projects
    %h3 Projects
    - if current_user.admins?(organization)
      / Admin actions
      .administration_actions
        = link_to_remote "new project" + image_tag("admin/admin-div-elements-add.png", :alt => "Add", :style => "margin-left: 10px; "), :url => new_organization_project_path(organization), :update => "dummy-for-actions"

  / Project Section List
  .list
    - organization.projects_ordered_for_user(current_user).each do |project|
      .element.project{ :class => ('not-mine' if !current_user.projects.include?(project))}
        / Element name TODO: RESIZE!!
        = link_to(project.name, project_taskboard_index_path(:project_id => project)) if (project.users.include?(current_user) || current_user.admins?(organization))
        = project.name if (!project.users.include?(current_user) && !current_user.admins?(organization))
        - if current_user.admins?(organization)
          .admin
            = link_to_remote image_tag("admin/admin-div-element-edit.png", :alt => "Edit", :title => "Edit"), :url => new_organization_project_path(:id => project, :organization_id => organization), :method => :get, :update => "dummy-for-actions"
            = link_to_remote image_tag("admin/admin-div-element-remove.png", :alt => "Remove", :title => "Remove"), :url => organization_project_path(:id => project, :organization_id => organization), :method => :delete, :confirm => "Are you sure?", :success => "location = location"
            
  .clear
  / End Project Section  

  / Users Section
  .section.users
    %h3 Users
    - if current_user.admins?(organization)
      / Admin actions
      .administration_actions
        = link_to_remote "new user" + image_tag("admin/admin-div-elements-add.png", :alt => "Add", :style => "margin-left: 10px; "), :url => new_user_path, :update => "dummy-for-actions"

  / Project Section List
  .list
    - organization.users_ordered_by_role.each do |user|
      .element.user
        / Element name TODO: RESIZE!!
        = user.name
        .admin
          = show_admin_info_for user, organization
          - if current_user.admins?(organization)
            = link_to_remote image_tag("admin/admin-div-element-edit.png", :alt => "Edit", :title => "Edit"), :url => edit_user_path(user), :method => :get, :update => "dummy-for-actions"
            = link_to_remote image_tag("admin/admin-div-element-remove.png", :alt => "Remove", :title => "Remove"), :url => user_path(user), :method => :delete, :confirm => "Are you sure?", :success => "location = location" 
          
  .clear
  / End Users Section  

  / Teams Section
  .section.teams
    %h3 Teams
    - if current_user.admins?(organization)
      / Admin actions
      .administration_actions
        = link_to_remote "new team" + image_tag("admin/admin-div-elements-add.png", :alt => "Add", :style => "margin-left: 10px; "), :url => new_organization_team_path(:organization_id => organization), :update => "dummy-for-actions"

  / Project Section List
  .list
    - organization.teams_ordered_for_user(current_user).each do |team|
      .element.team{ :class => ('not-mine' if !current_user.teams.include?(team)) }
        / Element name TODO: RESIZE!!
        - if current_user.teams.include?(team) || current_user.admins?(organization)
          = link_to team.name, organization_team_url(organization, team)
        - else
          = team.name
          
        - if current_user.admins?(organization)
          .admin
            = link_to image_tag("admin/admin-div-element-team-members.png", :alt => "Edit Team Members", :class => "admin-div-element-actions-team-members", :title => "Edit Team Members"), organization_team_url(organization,team)
            = link_to_remote image_tag("admin/admin-div-element-edit.png", :alt => "Edit", :title => "Edit"), :url => edit_organization_team_url(organization,team), :method => :get, :update => "dummy-for-actions"
            = link_to_remote image_tag("admin/admin-div-element-remove.png", :alt => "Remove", :class => "admin-div-element-actions-remove", :title => "Remove"), :url => organization_team_url(organization, team), :method => :delete, :confirm => "Are you sure?", :success => "location = location"

  .clear
  / End Teams Section  
  / Guest members