= "<script>cancelForm('#{close_dialog}');</script>" if defined? close_dialog
.admin_container.organization{ :id => "organization-#{organization.id}", 'data-organization-id' => organization.to_param }
  / Name
  %h2= organization.name
  
  / Admin Actions
  - if current_user.admins?(organization)
    .admin_actions
      = image_tag("admin/admin-div-actions-edit.png", :alt => "Edit", :class => "edit_organization")
      = image_tag("admin/admin-div-actions-remove.png", :alt => "Remove", :class => "remove_organization")
  
  / Project Section
  .section.projects
    %h3 Projects
    - if current_user.admins?(organization)
      / Admin actions
      .administration_actions
        .add.new_project new project

  / Project Section List
  .list.projects
    = render :partial => 'projects/project', :collection => organization.projects_ordered_for_user(current_user), :locals => { :organization => organization }
            
  .clear
  / End Project Section  

  / Users Section
  .section.users
    %h3 Users
    - if current_user.admins?(organization)
      / Admin actions
      .administration_actions
        .add.new_user new user

  / Project Section List
  .list.users
    = render :partial => 'users/user', :collection => organization.users_ordered_by_role, :locals => { :organization => organization }

  .clear
  / End Users Section  

  / Teams Section
  .section.teams
    %h3 Teams
    - if current_user.admins?(organization)
      / Admin actions
      .administration_actions
        = link_to_remote "new team" + image_tag("admin/admin-div-elements-add.png", :alt => "Add", :style => "margin-left: 10px; "), :url => new_organization_team_path(:organization_id => organization), :update => "dummy-for-actions"

  / Project Section List
  .list
    - organization.teams_ordered_for_user(current_user).each do |team|
      .element.team{ :class => ('not-mine' if !current_user.teams.include?(team)) }
        / Element name TODO: RESIZE!!
        - if current_user.teams.include?(team) || current_user.admins?(organization)
          = link_to team.name, organization_team_url(organization, team)
        - else
          = team.name
          
        - if current_user.admins?(organization)
          .admin
            = link_to image_tag("admin/admin-div-element-team-members.png", :alt => "Edit Team Members", :class => "admin-div-element-actions-team-members", :title => "Edit Team Members"), organization_team_url(organization,team)
            = link_to_remote image_tag("admin/admin-div-element-edit.png", :alt => "Edit", :title => "Edit"), :url => edit_organization_team_url(organization,team), :method => :get, :update => "dummy-for-actions"
            = link_to_remote image_tag("admin/admin-div-element-remove.png", :alt => "Remove", :class => "admin-div-element-actions-remove", :title => "Remove"), :url => organization_team_url(organization, team), :method => :delete, :confirm => "Are you sure?", :success => "location = location"

  .clear
  / End Teams Section  
  / Guest members