<%= render :partial => "menu", :locals => { :admin => @member.admin? }-%> 
<%= render :partial => "taskboard/adder" -%>

<% for organization in @organizations -%>
<% @admins = @member.admins?(organization) || @member.admin? %>
	<div id="organization-<%= organization.id %>" style="border: 2px solid black; width: 90%; margin: 0 auto; margin-bottom: 10px; padding: 0;">
		<h2 style="margin: 5px;"><%= organization.name %></h2>
	    <% if @admins %>
			<p style="margin: 5px;">
			[ 
			<%= link_to 'Edit', edit_organization_path(organization) %> | 
		    <%= link_to 'Destroy', organization, :confirm => 'Are you sure?', :method => :delete %> 
			]
			</p>
		<% end %>
		<hr style="color: black; border: 1px solid black;"/>
		<h3 style="margin: 5px;">Projects</h3>
		<ul>
		<% for project in organization.projects -%>
			<li><%= project.name %> <% if @admins %>[ <%= link_to_remote 'Remove', :url => {:action => :remove_project, :organization => organization, :project => project.id } -%> ] <% end %></li>
		<% end -%>
		</ul>
		<div id="add-project-actions">
		</div>
		<% if @admins %>
		<p style="margin: 5px;">[ <%= link_to_remote 'Add project', :url => {:action => :add_project_form, :organization => organization} -%> ]</p>
		<% end %>
		<hr style="color: black; border: 1px solid black;"/>
		<h3 style="margin: 5px;">Members</h3>
		<ul>
		<% for membership in organization.organization_memberships -%>
			<li><%= membership.member.name %> 
				<% if @admins %>
									[ 
									<% if (membership.member.admins?(organization)) %>
										<%= link_to_remote 'Remove Admin', :url => {:action => :remove_admin, :membership => membership.id }%>
									<% else %>
										<%= link_to_remote 'Make Admin', :url => {:action => :make_admin, :membership => membership.id }%>
									<% end %> | 
									<%= link_to_remote 'Remove', :url => {:action => :remove_member, :organization => organization, :member => membership.member.id } -%> ]</li>
				<% end %>
		<% end -%>
		</ul>
		<% if @admins %>
		<p style="margin: 5px;">[ <%= link_to_remote 'Add member', :url => {:action => :add_member_form, :organization => organization} -%> ]</p>		
		<% end %>
	</div>
<% end %>
<div id="dummy-for-actions">
</div>