#menu_space
#menu
  %a{ :href => "#", :onclick => "collapseMenu('backlog');" }
  = image_tag 'menu_collapse.png', :border => 0, :style => "float:left;"

  - link_to @view == :project ? project_taskboard_index_path(@project.to_param) : taskboard_team_view_path(@team.to_param) do
    .item.taskboard

  .item.new_story{ 'data-project-id' => @project.to_param }
  - link_to logout_path do
    .item.logout

  #menu_links
    = link_to image_tag('admin_section_small.png'), root_path, :title => "Admin Section"
    - if (@view == :project)
      = link_to image_tag('dashboard_small.png'), organization_project_url(:organization_id => @team.organization.to_param, :id => current_user.last_project), :title => "Project Dashboard"

  - if (@view == :project && (@project.teams.first.projects.size > 1 && !@project.guest_members.include?(current_user))) || @view == :team
    #menu_views
      = link_to image_tag('logo-projects-small.png'), project_backlog_index_path(:project_id => current_user.last_project || @team.projects.first), :class => !(@view == :team), :title => "Project View"
      = link_to image_tag('logo-teams-small.png'), backlog_team_view_path(@team.to_param), :class => (@view == :team), :title => "Team View"

#menu_expand
  %a{ :href => "#", :onclick => "expandMenu('backlog');", :style => "position: relative; top: 8px; left: 10px;" }
    = image_tag('menu_expand.png', :border => 0)

%script
  expandMenu('backlog');

#menu_report_bug
  = link_to image_tag('reportbug/menu_reportbug.png', :alt => 'bug', :title => "Report Bug"), "http://github.com/agilar/taskboard/issues"
