<div id="menu_space">
</div>

<div id="menu">

	<a href="#" onClick="collapseMenu('backlog');"><%= image_tag 'menu_collapse.png', :border => 0, :style => "float:left;" -%></a>

	<%= link_to image_tag('menu_taskboard.png', 
			:border => 0, 
			:id => "menu_taskboard_image"), 
		:controller => "taskboard",
		:action => "show",
		:id => project.id
	-%>

	<%= link_to image_tag('menu_admin_section.png', 
			:border => 0, 
			:id => "menu_admin_image",
			:title => "Admin Section"), 
		:controller => "admin/projects",
		:action => "index",
		:id => project.id
	-%>
	
	

	<%= link_to_remote image_tag('menu_story_add.png',
				:border => 0,
				:id => "menu_story_add_image"),
		:url => {
			:controller => 'stories', 
			:action => 'show_form', 
			:project => project.id } 
	-%>
</div>

<div id="menu_expand" style="position:absolute; top: 0px; left: 0px; z-index: 9; background: url('/images/menu_collapsed_background.png') left no-repeat transparent; height: 61px;width: 69px;">
	<a href="#" onClick="expandMenu('backlog');"><%= image_tag('menu_expand.png', :border => 0, :style => "position: relative; top: 11px; left: 14px;")-%></a>
</div>
<script>
	expandMenu('backlog');
</script>
<div id="menu_report_bug">
	<%= link_to "#{image_tag('reportbug/menu_reportbug.png', :alt => 'bug', :title => "Report Bug")}", "/report_bug" -%>
</div>