<%= render :partial => "menu", :locals => { :project => @project}-%> 
<%= render :partial => "projects/adder" -%>

<table>
  <tr>
    <th>Name</th>
    <th>Priority</th>
    <th>Size</th>
    <th>Requirement</th>
    <th>How to demo</th>
  </tr>

<% for story in @stories %>
  <tr class="story-<%= story.status -%>">
    <td>
	(<%=h story.realid %>) <%=h story.name %><br />
	<% if story.status != 'finished' -%>
		[
		<% if story.status == 'not_started' -%>
			<%= link_to 'Start', :controller => 'stories', :action => 'start_story', :id => story.id, :project => @project.id -%> |  
		<% end %>  
		<% if story.status == 'in_progress' -%>
			<%= link_to 'Stop', :controller => 'stories', :action => 'stop_story', :id => story.id, :project => @project.id -%> |  
		<% end -%>  
		<%= link_to 'Finish', :controller => 'stories', :action => 'finish_story', :id => story.id, :project => @project.id -%> |
		<%= link_to_remote "Edit", :url => {:controller => 'stories', :action => 'show_form', :project => story.project.id, :story => story } %>
		]
	<% else %>
	  [ Date Finished: <%= "#{story.updated_at.month}/#{story.updated_at.day}/#{story.updated_at.year}" %> ]
	<% end %> 
    </td>
    <td class="priority-cell"><span class="priority-edit" id="priority-<%= story.id %>">
	<% if story.priority != -1 %>
		<%= render :partial => 'stories/edit_priority_link', :locals => {:story => story}-%></span></td>
    	<% else %>
		<%= story.priority %>
	<% end %>
    <td class="size-cell"><%=h story.size %></td>
    <td><%=h truncate(story.requirement) %></td>
    <td><%=h truncate(story.how_to_demo) %></td>
  </tr>
<% end %>
<tr id="table_footer">
	<td colspan=6>
		<%= link_to 'Product Taskboard', :controller => "projects", :action => 'show', :id => @project.id -%> |
		<%= link_to 'Manage Stories', :controller => "stories", :project => @project.id -%> |
		<%= link_to 'New story', :controller => "stories", :action => "new", :project => @project.id %>
	</td>
</tr>
</table>
<div id="dummy-for-actions">
</div>

