<%= render :partial => "menu", :locals => { :project => @project}-%> 
<%= render :partial => "taskboard/adder" -%>

<table>
  <tr>
    <th>Name</th>
    <th>Priority</th>
    <th>Size</th>
    <th>Description</th>
  </tr>

<% for story in @stories %>
  <tr class="story-<%= story.status -%>">
    <td class="name-cell">
	(<%=h story.realid %>) <%=h story.name %><br />
	<% if story.status != 'finished' -%>
		[
		<% if story.status == 'not_started' -%>
			<%= link_to 'Start', :controller => 'stories', :action => 'start_story', :id => story.id, :project => @project.id -%> |  
		<% end %>  
		<% if story.status == 'in_progress' -%>
			<%= link_to 'Stop', :controller => 'stories', :action => 'stop_story', :id => story.id, :project => @project.id -%> |  
		<% end -%>  
		<%= link_to 'Finish', :controller => 'stories', :action => 'finish_story', :id => story.id, :project => @project.id -%> |
		<%= link_to_remote "Edit", :url => {:controller => :stories, :action => :show_form, :project => story.project.id, :story => story } %> | 
		<%= link_to_remote "Delete", :url => {:controller => :stories, :action => :destroy, :id => story}, :confirm => 'Are you sure?', :method => :delete, :complete => "location.reload(true);" %>
		]
	<% else %>
	  [ Date Finished: <%= "#{story.updated_at.month}/#{story.updated_at.day}/#{story.updated_at.year}" %> ]
	<% end %> 
    </td>
    <td class="priority-cell"><span class="priority-edit" id="priority-<%= story.id %>">
	<% if story.priority != -1 %>
		<%= render :partial => 'stories/edit_priority_link', :locals => {:story => story}-%></span></td>
    	<% else %>
		<%= story.priority %>
	<% end %>
    <td class="size-cell"><%=h story.size %></td>
    <td><%=h story.description %></td>
  </tr>
<% end %>
</table>
<div id="dummy-for-actions">
</div>

