%div{ :id => "statustag-project-#{statustag.task.story.project.id}-#{statustag.id}", :class => "statustag statustag-#{statustag.status}", :style => "position: absolute; top: #{statustag.relative_position_y}px; left: #{statustag.relative_position_x}px; display: none;"}
%script
  == new YAHOO.DDTags('statustag-project-#{statustag.task.story.project.id}-#{statustag.id}');
  == $('statustag-project-#{statustag.task.story.project.id}-#{statustag.id}').show();