<% if !defined?(no_refresh) -%>
<script>
	Effect.Appear($('dialog-background-fade'), { duration: 0.2, to: 0.9 });
</script>
<% end -%>

<div id="form-add-team" class="admin-new" style="display:none;">
	<%= image_tag "admin/admin-logo-teams.png", :alt => "Team", :style => "position:absolute; top: 0px; left: -120px; " -%>
	
	<div style="clear: both"></div>
	<%= admin_open_div 765 -%>
		<% action = edit ? :update : :create -%>
		<% remote_form_for @team, :url => { :controller => 'admin/teams', :action => action, :id => @team.id }, :update => "dummy-for-actions" do |f| %>
			<%= defined?(@project) ? hidden_field_tag(:project, "#{@project.id}") : hidden_field_tag(:project, "#{@team.project_id}") -%>
			<%= admin_form_name(@team, edit, f) -%>
			
			<div class="admin-div-section" style="margin-bottom: 10px;">
				<%= image_tag "admin/admin-div-actions-color.png", :alt => "Color", :style => "position: relative; left: 10px; top: 2px;" -%>
				<h2 style="position: relative; top: 0px; margin-left: 20px;"><%= f.label :color %></h2>
				<p style="color: #04a; font-size: 10px; margin: 0; position:relative; top: -18px; left: 70px;">(This color will be used to identify the team in the taskboard)</p>
				<%= f.text_field :color, :style => "float: right; position: relative; top: -55px; border: none; right: 10px; width: 150px; height: 20px;", :readonly => 'readonly', :onclick => "toggle_color_picker();" %>
				<p id="admin-member-color-choose" style="color: #04a; font-size: 12px; float:right; margin: 0; position:relative; left: 140px; top: -35px; cursor: pointer;" onclick="toggle_color_picker();">choose</p>
			</div>
			<div style="clear: both;"></div>
			
			<script>
				setColor('team_color', $('team_color').value);
			</script>
			
			<%= error_messages_for('team', :object => @team) if (defined?(no_refresh) && no_refresh) -%>
			<%= admin_form_buttons(@team) -%>
			<div style="clear: both;"></div>
		<% end %>
	<%= admin_close_div 765 -%>

	<div id="admin-div-color-picker" style="display: none; position: absolute; top: 119px; right: 3px;">
		<%= admin_open_div 208 -%>
			<div id="admin-div-color-picker-content"></div>
		<%= admin_close_div 208 -%>
	</div>
</div>
<script>
$('admin-div-color-picker-content').innerHTML = generate_color_table('team_color');
if($('team_color').value != '')
$('team_color').style.backgroundColor = $('team_color').style.color = '#' + $('team_color').value;

centerTo($('form-add-team'),$('dialog-background-fade'));
Effect.Appear($('form-add-team'), { afterFinish : function() { Form.Element.select($('team_name'))}});
</script>
