		<% for member in team.members %>
		<div id="div-team-<%= team.id -%>-member-<%= member.id -%>" class="member-container" style="background: url('/images/admin/admin-teams-member-background.png') no-repeat; width: 109px; height: 125px; padding: 5px; float: left;" title="<%= member.name -%>">
			
			<%= link_to_remote image_tag("admin/admin-div-actions-remove-small.png", :alt => "Remove Member", :style => "float: right; z-index: 10; position: relative;"), 
				:url => { 	:action => :remove_member,
 						:team => team.id, 
						:member => member.id }, 
				:confirm => "Are you sure?" -%>
			
			<%= render :partial => "admin/members/show_with_picture", 
				:locals => { 
				:id_text => "team-#{team.id}-member", 
				:class_text => "team_member", 
				:member_name_class => "team-member",
				:member => member,
				:edit => false } -%>
		</div>	
		<% end %>		
