<% if defined?(@project) %>
	<h1 style="font-size: 32px; font-weight: normal; margin: 0; color: #002255"><%= image_tag "admin/admin-logo-projects.png", :alt => "Project", :style => "width: 80px;" -%> <%= @project.name %>'s Teams</h1>
	
	<h2 style="font-size: 20px; font-weight: normal; margin: 0; color: #002255"><%= image_tag "admin/admin-logo-members.png", :alt => "Project", :style => "width: 40px;" -%> Organization's Members</h1>
	
	<div id="members-list">
		<%= render :partial => "members_list", :locals => { :members => @members, :project => @project.id }%>
	</div>
	
	<%= render :partial => "teams_list", :locals => { :teams => @teams, :project => @project }%>
<% else %>
	<div id="chose-project">
	<h1>Choose a Project:</h1>
	<form method=GET>
	<%= select_tag "project", options_from_collection_for_select(@projects,'id','name') -%>
	<%= submit_tag "Choose" -%>
	</form>
	</div>
<% end %>
<div id="dummy-for-actions">
</div>
