!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      Agilar Taskboard
      = (@project && @project.name) ? " - #{@project.name} " : " "
    = stylesheet_link_tag 'taskboard', 'menu'
    = javascript_include_tag :defaults
    = javascript_include_tag 'old'
    = javascript_include_tag 'slider'
    = yield :helpers
    /
      Drag & Drop Dependencies
    = javascript_include_tag 'yahoo/yahoo-dom-event'
    = javascript_include_tag 'yahoo/animation-min'
    = javascript_include_tag 'yahoo/dragdrop-min'
    %script{ :language => "Javascript" }
      ==  function getAuthKey() { return "#{form_authenticity_token}"; }
    = javascript_include_tag 'taskboard'
  %body#taskboard{ :style => "position: absolute; top: 0; left:0; width: 100%; height: 100%;" }
    = yield
    = yield :bottom
    = javascript_include_tag 'startup'
