<div id="<%= id_text -%>-<%= member.id -%>" class="<%= class_text %>" style="float: left;">
	<%= image_tag 'default_av.png' %>
	<div class="<%= member_name_class -%>"><%= member.name %></div>
</div>

