<p>
  <b>Name:</b>
  <%=h @member.name %>
</p>

<p>
  <b>Color:</b>
  <%=h @member.color %>
</p>

<p>
  <b>Username:</b>
  <%=h @member.username %>
</p>

<p>
  <b>Password:</b>
  <%=h @member.password %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
